---

import Confirmationpay from "../components/Confirmationpay.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Personalizacion prenda" description="">
    <main>
    <Confirmationpay />
    </main>
</Layout>
