---
import Layout from '../layouts/Layout.astro';
import Banner from '../components/Banner.astro';
import Intrucciones from '../components/Intrucciones.astro'
import Productos from '../components/Productos.astro'
---

<Layout title="Welcome to Astro." description=''>
	<main>
		<Banner/>
		<Intrucciones />
		<Productos />	
	</main>
</Layout>

