---
import ProductoFinalizar from "../components/ProductoFinalizar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Personalizacion prenda" description="">
    <main>
    <ProductoFinalizar/>
    </main>
</Layout>
<style>
    
</style>