---
import Carrito from "./Carrito.astro";
---

<header class="navbar">
    <nav class="navbar-container">
        
            <div class="navbar-toggle" aria-label="Toggle navigation">
                <div class="_layer -top"></div>
                <div class="_layer -mid"></div>
                <div class="_layer -bottom"></div>
            </div>
            <a href="#" class="navbar-logo">
                <img src="./logo/logo-con-nombre.svg" alt="Marselino logo">
            </a>
            <div class="navbar-menu">
                <ul>
                    <li>
                        <svg class="svg-mobile"  xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <g clip-path="url(#clip0_11_357)">
                            <path d="M21.8135 13.6476C22.0363 13.6476 22.25 13.7361 22.4075 13.8936C22.565 14.0512 22.6535 14.2648 22.6535 14.4876V21.5364C22.6859 22.5108 22.5683 23.1504 22.1327 23.5524C21.7271 23.9256 21.1391 24.0324 20.3771 23.9916H3.77274C2.99994 23.9532 2.39994 23.64 2.12154 23.0076C1.93674 22.5912 1.85034 22.0992 1.85034 21.534V14.4864C1.85034 14.2636 1.93884 14.05 2.09637 13.8924C2.25391 13.7349 2.46756 13.6464 2.69034 13.6464C2.91313 13.6464 3.12678 13.7349 3.28431 13.8924C3.44184 14.05 3.53034 14.2636 3.53034 14.4864V21.534C3.53194 21.8132 3.55994 22.038 3.61434 22.2084L3.65754 22.326L3.65394 22.314C3.65514 22.2984 3.68994 22.3044 3.81234 22.3116H20.4203C20.7143 22.3284 20.9015 22.3116 20.9675 22.3104L20.9723 22.3092C20.9567 22.2456 20.9867 21.9852 20.9723 21.5628V14.4864C20.9723 14.376 20.9941 14.2667 21.0364 14.1647C21.0787 14.0627 21.1407 13.97 21.2188 13.892C21.2969 13.814 21.3897 13.7521 21.4917 13.71C21.5938 13.6679 21.7031 13.6462 21.8135 13.6464M12.5207 0C12.8375 0 13.1207 0.1248 13.3871 0.3564L23.7371 10.1232C23.8188 10.1986 23.8846 10.2895 23.9309 10.3905C23.9771 10.4916 24.0029 10.6008 24.0066 10.7119C24.0103 10.823 23.992 10.9337 23.9526 11.0376C23.9133 11.1416 23.8537 11.2366 23.7773 11.3174C23.7009 11.3981 23.6093 11.4629 23.5077 11.508C23.4061 11.553 23.2966 11.5775 23.1855 11.5799C23.0744 11.5824 22.9639 11.5627 22.8604 11.5222C22.757 11.4816 22.6626 11.4209 22.5827 11.3436L12.4823 1.8108L1.38954 11.3688C1.22087 11.5144 1.00126 11.587 0.779026 11.5707C0.556796 11.5544 0.350149 11.4505 0.204545 11.2818C0.0589409 11.1131 -0.0136924 10.8935 0.00262324 10.6713C0.0189389 10.4491 0.122867 10.2424 0.291545 10.0968L11.6267 0.3324L11.7299 0.2556C11.9867 0.0948 12.2435 0.0012 12.5219 0.0012" fill="black"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_11_357">
                            <rect width="24" height="24" fill="white"/>
                            </clipPath>
                            </defs>
                        </svg>
                        <a href="/#" class="active">Home</a>
                    
                    </li>
                    <li>
                        <svg class="svg-mobile" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path opacity="0.2" d="M23.1666 7.38469L21.3601 10.8356C21.2916 10.9621 21.1899 11.0675 21.066 11.1405C20.9422 11.2135 20.8007 11.2513 20.6569 11.25H18.0001V3.75L22.8544 6.39844C23.0265 6.48796 23.156 6.64209 23.2145 6.82699C23.273 7.0119 23.2558 7.21247 23.1666 7.38469ZM0.833492 7.38469L2.64005 10.8356C2.70854 10.9621 2.81019 11.0675 2.93407 11.1405C3.05795 11.2135 3.19939 11.2513 3.34318 11.25H6.00006V3.75L1.14568 6.39844C0.973632 6.48796 0.844132 6.64209 0.785603 6.82699C0.727073 7.0119 0.744296 7.21247 0.833492 7.38469Z" fill="black"/>
                            <path d="M23.2114 5.73938L18.3589 3.09375C18.2489 3.03292 18.1255 3.00068 17.9998 3H14.9998C14.8009 3 14.6101 3.07902 14.4695 3.21967C14.3288 3.36032 14.2498 3.55109 14.2498 3.75C14.2498 4.34674 14.0128 4.91903 13.5908 5.34099C13.1688 5.76295 12.5966 6 11.9998 6C11.4031 6 10.8308 5.76295 10.4088 5.34099C9.98687 4.91903 9.74982 4.34674 9.74982 3.75C9.74982 3.55109 9.6708 3.36032 9.53015 3.21967C9.38949 3.07902 9.19873 3 8.99982 3H5.99982C5.87385 3.00052 5.75004 3.03276 5.63982 3.09375L0.788254 5.73938C0.442411 5.92214 0.183159 6.2346 0.0673445 6.60823C-0.04847 6.98186 -0.0113946 7.38617 0.170441 7.7325L1.977 11.1834C2.10836 11.4315 2.30526 11.6389 2.54626 11.7828C2.78727 11.9268 3.06315 12.0019 3.34388 12H5.24982V19.5C5.24982 19.8978 5.40785 20.2794 5.68916 20.5607C5.97046 20.842 6.35199 21 6.74982 21H17.2498C17.6476 21 18.0292 20.842 18.3105 20.5607C18.5918 20.2794 18.7498 19.8978 18.7498 19.5V12H20.6567C20.9374 12.0019 21.2133 11.9268 21.4543 11.7828C21.6953 11.6389 21.8922 11.4315 22.0236 11.1834L23.8301 7.7325C24.0119 7.38605 24.0488 6.98165 23.9328 6.60801C23.8168 6.23437 23.5574 5.92198 23.2114 5.73938ZM3.34388 10.5C3.33002 10.5007 3.31639 10.4963 3.30544 10.4878L1.50825 7.05562L5.24982 5.01375V10.5H3.34388ZM17.2498 19.5H6.74982V4.5H8.32482C8.49785 5.34671 8.95803 6.10767 9.6275 6.65417C10.297 7.20066 11.1347 7.49916 11.9989 7.49916C12.8631 7.49916 13.7008 7.20066 14.3703 6.65417C15.0397 6.10767 15.4999 5.34671 15.6729 4.5H17.2498V19.5ZM20.6951 10.4869C20.6899 10.4916 20.6839 10.4951 20.6773 10.4974C20.6706 10.4996 20.6637 10.5005 20.6567 10.5H18.7498V5.01375L22.4923 7.05562L20.6951 10.4869Z" fill="black"/>
                        </svg>
                        <a href="#">Camisetas</a>
                    
                    </li>
                    <li>
                        <svg class="svg-mobile" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M5.5 7C5.829 7.986 6.219 8.984 6.36 10.02C6.46 10.763 6.42 11.517 6.341 13.025L6 19.527C6 20.232 6.12 20.609 6.755 20.95C9.368 22.35 14.632 22.35 17.245 20.95C17.88 20.61 18 20.232 18 19.527L17.659 13.025C17.579 11.517 17.54 10.763 17.641 10.019C17.781 8.984 18.171 7.986 18.5 7" stroke="black" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M5.971 18.513C5.505 18.746 5.039 19.05 4.497 18.992C3.58 18.894 3.367 18.452 3.18 17.343L2.1 10.921C1.955 10.063 1.955 10.056 2.183 9.215L2.721 7.232C3.085 5.89 3.267 5.219 3.703 4.707C4.14 4.195 4.775 3.907 6.046 3.332L8.59 2.179C8.985 2.001 8.988 2 9.422 2H14.578C15.012 2 15.015 2 15.41 2.18L17.954 3.332C19.225 3.907 19.86 4.195 20.297 4.707C20.733 5.219 20.915 5.89 21.279 7.232L21.817 9.215C22.045 10.055 22.045 10.063 21.9 10.921L20.82 17.343C20.633 18.453 20.419 18.895 19.5 18.993C18.933 19.053 18.519 18.759 18.026 18.513" stroke="black" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M9 2.5C9 2.5 9.908 4.415 10.66 4.814C11.047 5.018 11.53 5 12 5C12.47 5 12.953 5.018 13.34 4.814C14.091 4.414 15 2.5 15 2.5" stroke="black" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        <a href="#">Buzos</a>
                    
                    </li>
                    <li class="icon-shop-no-desktop">
                        <svg class="svg-mobile" xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none">
                            <path d="M6.85858 8.66669H19.1425C19.4549 8.66665 19.7636 8.73417 20.0475 8.86461C20.3313 8.99506 20.5836 9.18534 20.7871 9.42242C20.9905 9.65951 21.1402 9.93777 21.2261 10.2382C21.3119 10.5385 21.3317 10.8539 21.2842 11.1627L19.9247 19.994C19.8066 20.7615 19.4177 21.4614 18.8283 21.9669C18.2389 22.4724 17.488 22.7502 16.7115 22.75H9.28849C8.51218 22.75 7.76151 22.4721 7.17234 21.9665C6.58317 21.461 6.19441 20.7613 6.07641 19.994L4.71683 11.1627C4.66934 10.8539 4.68919 10.5385 4.77501 10.2382C4.86082 9.93777 5.01058 9.65951 5.21402 9.42242C5.41745 9.18534 5.66975 8.99506 5.95361 8.86461C6.23747 8.73417 6.54618 8.66665 6.85858 8.66669Z" stroke="black" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M9.75 11.9167V6.5C9.75 5.63805 10.0924 4.8114 10.7019 4.2019C11.3114 3.59241 12.138 3.25 13 3.25C13.862 3.25 14.6886 3.59241 15.2981 4.2019C15.9076 4.8114 16.25 5.63805 16.25 6.5V11.9167" stroke="black" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        <a href="#">Carrito</a>
                    
                    </li>
                    <li>
                        <svg class="svg-mobile" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                            <g clip-path="url(#clip0_12_365)">
                            <path d="M16.0372 10.7511L19.0966 11.6428L21.6309 8.46189L23.9539 6.53162L26.5058 4.89195L27.8763 3.96188L28.8624 4.70742L28.3004 9.37943L26.3121 14.2661L25.4956 17.0039L23.6833 17.5572L22.4393 18.786L22.9468 21.3174L22.2872 23.4259L21.1313 25.7791L20.4412 28.8156L19.3513 29.3773M16.0372 10.7511L18.0815 13.1622L16.9033 16.5455L17.0794 18.7943L18.6499 20.4196L19.7193 24.8611L18.9058 28.9359M16.0372 10.7511L14.7292 11.1621L13.2387 10.5588M16.0372 10.7511L13.2387 10.5588M19.3513 29.3773L18.9058 28.9359M19.3513 29.3773L18.5585 29.7857L15.6256 29.1927L13.5444 28.9443L12.3149 29.0406L8.83121 29.3134L7.97076 28.8572M18.9058 28.9359L16.3637 26.7695L14.3913 25.2784M13.2387 10.5588L11.2919 10.7113L10.0848 9.77739L8.10125 5.51035L5.06272 2.25152L3.45375 1.4519L2.28184 3.60057L1.86237 8.77568L2.89016 11.3691L2.54594 13.5559L4.61435 16.2736L5.37313 18.0655L4.88649 19.749L5.09464 22.4068L6.40576 24.6695L7.6481 28.686L7.97076 28.8572M13.2387 10.5588L11.412 12.2445L11.5961 14.5956L12.5359 16.0647L11.8683 18.0711L9.59972 19.3799L8.81356 21.19L8.45493 24.509L8.26927 27.4032L8.75175 28.2984M14.3913 25.2784L14.409 23.4258M14.3913 25.2784L12.8944 25.9098L10.2161 27.2508L8.75175 28.2984M14.409 23.4258L16.0915 23.294L17.2874 21.452C17.2874 21.452 16.87 20.2147 16.2293 19.7865C15.638 19.3914 14.4474 19.4118 14.4474 19.4118C14.4474 19.4118 13.0959 19.1753 12.3982 19.5722C11.7817 19.9229 11.2727 20.9973 11.2727 20.9973L12.2365 22.7732L14.409 23.4258ZM8.75175 28.2984L7.97076 28.8572M9.43731 17.4706C9.43731 17.4706 9.75268 16.694 9.43731 16.3467C9.08599 15.9599 8.87537 15.7848 8.87537 15.7848C8.87537 15.7848 7.30958 15.8153 7.18955 16.3467C7.10964 16.7005 6.95331 17.1951 7.18955 17.4706C7.48704 17.8174 8.31343 17.4706 8.31343 17.4706H9.43731ZM20.5368 18.935L20.8492 18.9105C21.1032 18.8906 21.3321 18.7494 21.4637 18.5313C21.6154 18.2802 21.6155 17.966 21.464 17.7149L21.4122 17.6291C21.3741 17.5658 21.3288 17.5072 21.2772 17.4545L21.1291 17.3029C20.9146 17.0836 20.6227 16.9571 20.316 16.9506C19.9653 16.943 19.6296 17.0932 19.4012 17.3597C19.3796 17.3848 19.3584 17.4096 19.3379 17.4335C19.3058 17.471 19.2776 17.5117 19.2536 17.5551C19.0976 17.8379 19.1475 18.1898 19.3759 18.4181L19.5011 18.5433C19.5352 18.5774 19.5717 18.6089 19.6105 18.6374L19.7487 18.7392C19.7984 18.7759 19.8514 18.8079 19.9071 18.8348C20.0434 18.9007 20.1929 18.935 20.3444 18.935H20.5368Z" stroke="#F2F2F2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M15.2311 9.93413C15.2144 9.93154 15.1974 9.92971 15.1804 9.92863L12.5025 9.74466C12.4782 9.74283 12.4539 9.74261 12.4298 9.74402C12.4266 9.74423 12.4235 9.74445 12.4204 9.74466L12.417 9.74488L10.7577 9.8749L9.86721 9.18598L8.0183 5.20837C7.99434 5.1569 7.96241 5.10942 7.92367 5.06792L5.00649 1.93933C4.96234 1.89198 4.91001 1.85295 4.85203 1.82413L3.30738 1.05647C3.04771 0.927426 2.73249 1.02671 2.59365 1.28126L1.46858 3.34407C1.43242 3.41038 1.41059 3.48353 1.40448 3.5588L1.00176 8.52705C0.995075 8.60959 1.00746 8.69246 1.03795 8.76949L1.97036 11.1223L1.66283 13.076C1.63995 13.2212 1.67738 13.3696 1.76645 13.4866L3.71116 16.0417L4.33858 17.5233L3.92449 18.9557C3.90649 19.018 3.89986 19.083 3.90492 19.1476L4.10471 21.6991C4.11101 21.7796 4.1353 21.8576 4.17577 21.9275L5.40396 24.047L6.57863 27.8448C6.62071 27.981 6.71523 28.0952 6.84125 28.162L7.14077 28.3208C7.14735 28.3245 7.15394 28.3279 7.16063 28.3314L7.97708 28.7641C8.0676 28.8122 8.16978 28.8334 8.27196 28.8254L11.6163 28.5636L12.7436 28.4752L14.6671 28.7048L17.4615 29.27C17.5817 29.2942 17.7066 29.2769 17.8155 29.2207L18.5654 28.8343C18.5729 28.8306 18.5803 28.8268 18.5876 28.8228L19.623 28.2893C19.7646 28.2164 19.8666 28.0845 19.9019 27.9292L20.5504 25.0757L21.6323 22.8733C21.6445 22.8485 21.6547 22.8228 21.6629 22.7965L22.2962 20.7722C22.3232 20.6858 22.3281 20.5939 22.3103 20.5051L21.8802 18.3602L22.7729 17.4785L24.3857 16.9862C24.5585 16.9334 24.6935 16.7975 24.7452 16.6243L25.5216 14.0208L27.4207 9.35365C27.4388 9.30919 27.4509 9.26248 27.4566 9.21479L27.9961 4.72942C28.0191 4.53882 27.9389 4.35042 27.7858 4.23465L26.839 3.5189C26.6547 3.37952 26.4021 3.37307 26.2108 3.50286L24.9008 4.39194L22.4565 5.96246C22.438 5.97432 22.4202 5.98727 22.4034 6.00141L20.1732 7.85453C20.1449 7.87805 20.119 7.90438 20.096 7.9333L17.8885 10.7041L15.2987 9.94924C15.2766 9.94276 15.254 9.93769 15.2311 9.93413Z" stroke="#626262" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M16.5786 10.5222L19.638 11.414L22.1724 8.23296L24.4953 6.30269L27.0473 4.66306L28.4177 3.733L29.4039 4.47853L28.8419 9.1506L26.8536 14.0371L26.0371 16.7751L24.2247 17.3284L22.9808 18.557L23.4883 21.0885L22.8287 23.1971L21.6728 25.5502L20.9827 28.5867L19.8928 29.1484M16.5786 10.5222L18.623 12.9332L17.4448 16.3166L17.6208 18.5655L19.1914 20.1908L20.2608 24.6323L19.4473 28.7069M16.5786 10.5222L15.2706 10.9332L13.7802 10.33M16.5786 10.5222L13.7802 10.33M19.8928 29.1484L19.4473 28.7069M19.8928 29.1484L19.1 29.5569L16.1671 28.9638L14.0858 28.7153L12.8563 28.8117L9.37273 29.0844L8.51228 28.6282M19.4473 28.7069L16.9052 26.5405L14.9328 25.0495M13.7802 10.33L11.8335 10.4824L10.6263 9.54846L8.64277 5.28142L5.60424 2.02264L3.99525 1.22302L2.82335 3.37169L2.40387 8.54686L3.43166 11.1403L3.08745 13.3271L5.15581 16.0447L5.91466 17.8365L5.42802 19.5202L5.63605 22.1778L6.94728 24.4407L8.18962 28.4572L8.51228 28.6282M13.7802 10.33L11.9535 12.0157L12.1376 14.3668L13.0774 15.8358L12.4098 17.8421L10.1412 19.1511L9.35508 20.961L8.99645 24.2802L8.81079 27.1744L9.29315 28.0696M14.9328 25.0495L14.9505 23.1969M14.9328 25.0495L13.4359 25.6809L10.7575 27.022L9.29315 28.0696M14.9505 23.1969L16.633 23.0651L17.8289 21.2231C17.8289 21.2231 17.4114 19.9857 16.7707 19.5576C16.1795 19.1625 14.9889 19.1829 14.9889 19.1829C14.9889 19.1829 13.6373 18.9463 12.9397 19.3433C12.3232 19.6941 11.8141 20.7685 11.8141 20.7685L12.778 22.5442L14.9505 23.1969ZM9.29315 28.0696L8.51228 28.6282M9.98906 17.2089C9.98906 17.2089 9.80666 16.4638 9.49118 16.1166C9.13986 15.7298 8.21367 15.5995 8.21367 15.5995C8.21367 15.5995 7.27062 15.9742 7.15059 16.5056C7.07068 16.8593 7.08889 17.1422 7.32513 17.4175C7.62262 17.7644 8.47621 17.6359 8.47621 17.6359L9.40633 17.6659L9.98906 17.2089ZM19.675 17.2732C19.5425 17.428 19.3766 17.6216 19.234 17.788C19.068 17.9817 19.1126 18.2774 19.3281 18.4138C19.3448 18.4244 19.3608 18.4362 19.3758 18.449L19.418 18.485C19.6595 18.6909 19.9727 18.7926 20.2891 18.7679L20.3074 18.7664L20.9222 18.7183L21.2346 18.6938C21.4887 18.6739 21.7175 18.5328 21.8493 18.3146C22.0008 18.0636 22.0009 17.7493 21.8495 17.4982L21.7977 17.4124C21.7595 17.3492 21.7142 17.2905 21.6626 17.2378L21.5145 17.0862C21.3 16.8669 21.0081 16.7404 20.7014 16.7339C20.3507 16.7263 20.015 16.8765 19.7867 17.143C19.7476 17.1886 19.7095 17.233 19.675 17.2732Z" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_12_365">
                            <rect width="30" height="30" fill="white"/>
                            </clipPath>
                            </defs>
                            </svg>
                        <a href="#">Nosotros</a>
                    
                    </li>
                   
                    <span class="logo-name">
						<svg class="svg-mobile" xmlns="http://www.w3.org/2000/svg" width="183" height="218" viewBox="0 0 183 218" fill="none">
						<path d="M101.018 76.3578L114.856 80.3909L126.318 66.0035L136.826 57.2729L148.368 49.8566L154.566 45.6499L159.026 49.022L156.485 70.1536L147.491 92.2559L143.798 104.639L135.601 107.142L129.975 112.7L132.27 124.149L129.287 133.686L124.059 144.33L120.938 158.064L116.008 160.604M101.018 76.3578L110.265 87.263L104.935 102.566L105.732 112.737L112.835 120.089L117.672 140.177L113.993 158.608M101.018 76.3578L95.102 78.2167L88.3605 75.488M101.018 76.3578L88.3605 75.488M116.008 160.604L113.993 158.608M116.008 160.604L112.422 162.452L99.1565 159.769L89.7432 158.646L84.182 159.081L68.4252 160.315L64.5334 158.252M113.993 158.608L102.495 148.809L93.5735 142.065M88.3605 75.488L79.5552 76.1778L74.0952 71.9536L65.1236 52.6537L51.3803 37.9139L44.1029 34.2972L38.8023 44.0157L36.905 67.4228L41.5537 79.1531L39.9969 89.0437L49.3523 101.336L52.7843 109.441L50.5832 117.055L51.5246 129.077L57.4549 139.311L63.074 157.478L64.5334 158.252M88.3605 75.488L80.0981 83.1125L80.9307 93.7463L85.1814 100.391L82.1619 109.466L71.9012 115.386L68.3454 123.573L66.7233 138.585L65.8835 151.675L68.0658 155.724M93.5735 142.065L93.6538 133.686M93.5735 142.065L86.803 144.921L74.6889 150.986L68.0658 155.724M93.6538 133.686L101.264 133.089L106.673 124.758C106.673 124.758 104.785 119.161 101.887 117.225C99.2124 115.438 93.8271 115.53 93.8271 115.53C93.8271 115.53 87.7144 114.46 84.5587 116.256C81.7705 117.842 79.4682 122.701 79.4682 122.701L83.8272 130.734L93.6538 133.686ZM68.0658 155.724L64.5334 158.252M71.1666 106.75C71.1666 106.75 72.593 103.237 71.1666 101.667C69.5776 99.917 68.625 99.125 68.625 99.125C68.625 99.125 61.5429 99.2633 61 101.667C60.6386 103.267 59.9315 105.504 61 106.75C62.3455 108.319 66.0833 106.75 66.0833 106.75H71.1666ZM121.37 113.374L122.783 113.263C123.932 113.173 124.967 112.534 125.562 111.548C126.248 110.412 126.249 108.991 125.563 107.855L125.329 107.467C125.157 107.181 124.952 106.916 124.719 106.677L124.049 105.992C123.079 105 121.759 104.427 120.371 104.398C118.785 104.364 117.266 105.043 116.233 106.248C116.136 106.362 116.04 106.474 115.947 106.582C115.802 106.752 115.674 106.936 115.566 107.132C114.86 108.411 115.086 110.003 116.119 111.036L116.685 111.602C116.839 111.756 117.005 111.898 117.18 112.028L117.805 112.488C118.03 112.654 118.27 112.799 118.521 112.92C119.138 113.219 119.814 113.374 120.499 113.374H121.37Z" stroke="#BF472C" stroke-width="5.08333" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M98.6914 73.632C98.6127 73.6198 98.5329 73.6112 98.4525 73.6061L85.8362 72.7394C85.7218 72.7307 85.6075 72.7297 85.4936 72.7363C85.4788 72.7373 85.4641 72.7384 85.4494 72.7394L85.4336 72.7404L77.6159 73.3529L73.4207 70.1072L64.7099 51.3675C64.597 51.125 64.4466 50.9014 64.2641 50.7058L50.5204 35.9661C50.3124 35.743 50.0658 35.5592 49.7926 35.4234L42.5153 31.8067C41.292 31.1987 39.8069 31.6665 39.1528 32.8658L33.8522 42.5843C33.6819 42.8966 33.579 43.2413 33.5502 43.5959L31.6529 67.0028C31.6214 67.3917 31.6797 67.7821 31.8234 68.1451L36.2163 79.2298L34.7674 88.4342C34.6596 89.1184 34.8359 89.8173 35.2556 90.3689L44.4177 102.407L47.3736 109.387L45.4227 116.135C45.338 116.429 45.3067 116.735 45.3305 117.04L46.2718 129.06C46.3015 129.439 46.4159 129.807 46.6066 130.136L52.393 140.122L57.9272 158.014C58.1254 158.656 58.5707 159.194 59.1645 159.509L60.5756 160.257C60.6066 160.274 60.6376 160.291 60.6691 160.307L64.5157 162.346C64.9422 162.572 65.4236 162.672 65.905 162.635L81.6613 161.401L86.9723 160.985L96.0344 162.066L109.2 164.729C109.766 164.843 110.354 164.761 110.868 164.497L114.4 162.676C114.436 162.659 114.471 162.641 114.505 162.622L119.383 160.109C120.05 159.765 120.531 159.144 120.697 158.412L123.752 144.968L128.849 134.592C128.907 134.475 128.955 134.354 128.994 134.23L131.977 124.694C132.105 124.286 132.128 123.853 132.044 123.435L130.017 113.33L134.223 109.176L141.821 106.856C142.636 106.608 143.272 105.968 143.515 105.151L147.173 92.8856L156.12 70.8972C156.206 70.6877 156.263 70.4676 156.29 70.2429L158.831 49.1111C158.94 48.2131 158.562 47.3255 157.841 46.7801L153.38 43.4079C152.512 42.7513 151.321 42.7209 150.42 43.3324L144.248 47.5211L132.732 54.9203C132.646 54.9762 132.562 55.0372 132.482 55.1038L121.975 63.8344C121.842 63.9452 121.72 64.0692 121.612 64.2055L111.211 77.2595L99.0102 73.7032C98.906 73.6727 98.7992 73.6488 98.6914 73.632Z" stroke="#263DBF" stroke-width="5.08333" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M104.321 74.9614L118.159 78.995L129.621 64.6071L140.128 55.8765L151.671 48.4604L157.869 44.2537L162.33 47.6258L159.788 68.7577L150.795 90.8595L147.102 103.244L138.904 105.746L133.278 111.303L135.574 122.753L132.59 132.29L127.362 142.933L124.241 156.667L119.311 159.208M104.321 74.9614L113.568 85.8666L108.238 101.17L109.034 111.341L116.138 118.693L120.975 138.782L117.296 157.211M104.321 74.9614L98.4047 76.8203L91.6637 74.0921M104.321 74.9614L91.6637 74.0921M119.311 159.208L117.296 157.211M119.311 159.208L115.725 161.056L102.46 158.373L93.0459 157.249L87.4847 157.685L71.7284 158.919L67.8366 156.855M117.296 157.211L105.798 147.413L96.8767 140.669M91.6637 74.0921L82.8584 74.7814L77.3984 70.5572L68.4268 51.2573L54.6835 36.5178L47.406 32.9011L42.1054 42.6195L40.2081 66.0269L44.8568 77.7572L43.3 87.6479L52.6552 99.9399L56.0875 108.044L53.8864 115.66L54.8273 127.68L60.7581 137.915L66.3772 156.082L67.8366 156.855M91.6637 74.0921L83.4013 81.7166L84.2339 92.3504L88.4846 98.9949L85.4651 108.07L75.2044 113.99L71.6486 122.176L70.0265 137.189L69.1867 150.28L71.3685 154.328M96.8767 140.669L96.957 132.289M96.8767 140.669L90.1062 143.524L77.9916 149.59L71.3685 154.328M96.957 132.289L104.567 131.693L109.976 123.362C109.976 123.362 108.087 117.765 105.189 115.829C102.516 114.042 97.1303 114.134 97.1303 114.134C97.1303 114.134 91.0171 113.064 87.8619 114.859C85.0737 116.446 82.7709 121.306 82.7709 121.306L87.1304 129.337L96.957 132.289ZM71.3685 154.328L67.8366 156.855M74.5161 105.206C74.5161 105.206 73.6911 101.835 72.2642 100.265C70.6751 98.5155 66.486 97.9263 66.486 97.9263C66.486 97.9263 62.2205 99.6211 61.6776 102.025C61.3162 103.624 61.3986 104.904 62.4671 106.149C63.8126 107.718 67.6734 107.137 67.6734 107.137L71.8804 107.273L74.5161 105.206ZM118.326 105.496C117.726 106.196 116.976 107.072 116.331 107.825C115.58 108.701 115.782 110.038 116.757 110.656C116.832 110.703 116.904 110.757 116.973 110.815L117.163 110.977C118.256 111.909 119.672 112.369 121.103 112.257L121.186 112.25L123.967 112.033L125.38 111.922C126.529 111.832 127.564 111.193 128.16 110.207C128.845 109.072 128.846 107.65 128.161 106.514L127.927 106.126C127.754 105.84 127.549 105.575 127.316 105.336L126.646 104.651C125.676 103.659 124.356 103.086 122.968 103.057C121.382 103.023 119.864 103.702 118.831 104.907C118.654 105.114 118.482 105.314 118.326 105.496Z" stroke="#CDDA71" stroke-width="5.08333" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M33.0254 206.105L28.1035 196.303L27.9258 199.598C27.8711 200.555 27.821 201.507 27.7754 202.455C27.7389 203.394 27.666 204.292 27.5566 205.148C27.4473 205.996 27.2741 206.785 27.0371 207.514C26.8092 208.243 26.472 208.876 26.0254 209.414C25.5879 209.943 25.0137 210.357 24.3027 210.658C23.6009 210.959 22.7214 211.109 21.6641 211.109C21.1992 211.109 20.7526 211.073 20.3242 211C19.8958 210.918 19.5176 210.809 19.1895 210.672C18.8613 210.535 18.6016 210.376 18.4102 210.193C18.2096 210.002 18.1094 209.797 18.1094 209.578C18.1094 209.414 18.1322 209.25 18.1777 209.086C18.2233 208.913 18.2917 208.758 18.3828 208.621C18.474 208.475 18.5879 208.361 18.7246 208.279C18.8522 208.188 18.998 208.143 19.1621 208.143C19.2624 208.143 19.349 208.193 19.4219 208.293C19.5039 208.393 19.5859 208.521 19.668 208.676C19.75 208.822 19.8411 208.981 19.9414 209.154C20.0508 209.327 20.1875 209.492 20.3516 209.646C20.5247 209.792 20.7298 209.915 20.9668 210.016C21.2038 210.116 21.5 210.166 21.8555 210.166C22.5573 210.166 23.1452 210.048 23.6191 209.811C24.1022 209.564 24.4987 209.214 24.8086 208.758C25.1185 208.302 25.3555 207.751 25.5195 207.104C25.6836 206.456 25.8066 205.723 25.8887 204.902C25.9251 204.447 25.9616 204.009 25.998 203.59C26.0345 203.161 26.071 202.738 26.1074 202.318C26.1439 201.899 26.1758 201.475 26.2031 201.047C26.2396 200.609 26.276 200.149 26.3125 199.666C26.3581 198.964 26.3991 198.299 26.4355 197.67C26.472 197.032 26.4993 196.439 26.5176 195.893C26.5449 195.346 26.5632 194.854 26.5723 194.416C26.5905 193.979 26.6042 193.6 26.6133 193.281C26.4583 192.962 26.3216 192.707 26.2031 192.516C26.0846 192.315 25.9616 192.165 25.834 192.064C25.7064 191.955 25.5651 191.882 25.4102 191.846C25.2552 191.809 25.0684 191.791 24.8496 191.791C24.6673 191.791 24.4395 191.827 24.166 191.9C23.9017 191.964 23.6237 192.06 23.332 192.188C23.0495 192.315 22.7624 192.475 22.4707 192.666C22.1882 192.848 21.9329 193.062 21.7051 193.309C21.4863 193.546 21.304 193.81 21.1582 194.102C21.0215 194.393 20.9531 194.708 20.9531 195.045C20.9531 195.337 20.9896 195.569 21.0625 195.742C21.1445 195.915 21.2357 196.048 21.3359 196.139C21.4453 196.221 21.5501 196.275 21.6504 196.303C21.7598 196.321 21.8372 196.33 21.8828 196.33C22.1107 196.33 22.2975 196.294 22.4434 196.221C22.5892 196.139 22.7214 196.057 22.8398 195.975C22.9583 195.883 23.0677 195.801 23.168 195.729C23.2773 195.646 23.4004 195.605 23.5371 195.605C23.6465 195.605 23.7604 195.633 23.8789 195.688C24.0065 195.733 24.1204 195.811 24.2207 195.92C24.3301 196.029 24.4212 196.175 24.4941 196.357C24.5671 196.531 24.6035 196.745 24.6035 197C24.6035 197.365 24.5306 197.679 24.3848 197.943C24.248 198.208 24.0658 198.431 23.8379 198.613C23.6191 198.786 23.3639 198.919 23.0723 199.01C22.7897 199.092 22.5072 199.133 22.2246 199.133C21.7871 199.133 21.3906 199.06 21.0352 198.914C20.6888 198.759 20.3926 198.549 20.1465 198.285C19.9004 198.021 19.7135 197.711 19.5859 197.355C19.4583 197 19.3945 196.622 19.3945 196.221C19.3945 195.273 19.6133 194.448 20.0508 193.746C20.4883 193.035 21.0625 192.443 21.7734 191.969C22.4844 191.495 23.2865 191.144 24.1797 190.916C25.082 190.679 25.998 190.561 26.9277 190.561C27.6751 190.561 28.2995 190.638 28.8008 190.793C29.3021 190.939 29.7214 191.139 30.0586 191.395C30.3958 191.641 30.6738 191.932 30.8926 192.27C31.1113 192.607 31.3118 192.962 31.4941 193.336L35.1035 200.664C36.0423 198.814 36.8945 197.16 37.6602 195.701C38.4349 194.234 39.1504 192.944 39.8066 191.832C40.4629 190.72 41.0736 189.772 41.6387 188.988C42.2129 188.204 42.7643 187.566 43.293 187.074C43.8307 186.573 44.3594 186.208 44.8789 185.98C45.4076 185.753 45.9544 185.639 46.5195 185.639C47.0026 185.639 47.3945 185.743 47.6953 185.953C47.9961 186.154 48.1465 186.459 48.1465 186.869C48.1465 187.234 48.0872 187.535 47.9688 187.771C47.8503 188.008 47.6862 188.127 47.4766 188.127C47.3034 188.127 47.1712 188.063 47.0801 187.936C46.9889 187.799 46.8978 187.653 46.8066 187.498C46.7246 187.343 46.6198 187.202 46.4922 187.074C46.3646 186.938 46.1777 186.869 45.9316 186.869C45.7858 186.869 45.6081 186.91 45.3984 186.992C45.1888 187.074 44.9701 187.197 44.7422 187.361C44.5234 187.525 44.3047 187.73 44.0859 187.977C43.8672 188.223 43.6758 188.51 43.5117 188.838C43.3477 189.166 43.2201 189.54 43.1289 189.959C43.0378 190.378 43.0104 190.839 43.0469 191.34C43.0833 191.914 43.1335 192.589 43.1973 193.363C43.2611 194.129 43.3294 194.954 43.4023 195.838C43.4844 196.713 43.5664 197.62 43.6484 198.559C43.7396 199.497 43.8307 200.423 43.9219 201.334C44.013 202.245 44.0996 203.12 44.1816 203.959C44.2728 204.798 44.3548 205.559 44.4277 206.242C44.5007 206.917 44.569 207.491 44.6328 207.965C44.6966 208.43 44.7467 208.749 44.7832 208.922C44.8379 209.186 44.9108 209.4 45.002 209.564C45.0931 209.719 45.2572 209.797 45.4941 209.797C45.7402 209.797 45.9727 209.756 46.1914 209.674C46.4102 209.583 46.6061 209.492 46.7793 209.4L46.998 209.906C46.834 210.025 46.6243 210.161 46.3691 210.316C46.123 210.462 45.8359 210.604 45.5078 210.74C45.1888 210.877 44.8333 210.991 44.4414 211.082C44.0586 211.173 43.6439 211.219 43.1973 211.219C42.5684 211.219 42.0716 211.141 41.707 210.986C41.3424 210.822 41.0599 210.626 40.8594 210.398C40.668 210.161 40.5358 209.915 40.4629 209.66C40.3991 209.396 40.349 209.159 40.3125 208.949C40.2305 208.484 40.1439 207.924 40.0527 207.268C39.9616 206.611 39.8704 205.91 39.7793 205.162C39.6973 204.406 39.6152 203.631 39.5332 202.838C39.4512 202.036 39.3737 201.257 39.3008 200.5C39.237 199.734 39.1777 199.014 39.123 198.34C39.0684 197.665 39.0228 197.077 38.9863 196.576C38.7129 197.023 38.4577 197.456 38.2207 197.875C37.9928 198.285 37.7695 198.709 37.5508 199.146C37.332 199.575 37.1087 200.026 36.8809 200.5C36.653 200.974 36.4115 201.489 36.1562 202.045C35.9102 202.601 35.6367 203.212 35.3359 203.877C35.0443 204.542 34.7207 205.285 34.3652 206.105H33.0254ZM54.8867 203.918C54.8867 203.69 54.8138 203.517 54.668 203.398C54.5221 203.28 54.3353 203.221 54.1074 203.221C53.7884 203.221 53.4831 203.294 53.1914 203.439C52.9089 203.585 52.6582 203.799 52.4395 204.082C52.2207 204.365 52.0475 204.715 51.9199 205.135C51.7923 205.545 51.7285 206.023 51.7285 206.57C51.7285 207.099 51.765 207.536 51.8379 207.883C51.9199 208.229 52.0247 208.507 52.1523 208.717C52.2891 208.917 52.444 209.059 52.6172 209.141C52.7904 209.223 52.9727 209.264 53.1641 209.264C53.401 209.264 53.6243 209.204 53.834 209.086C54.0436 208.958 54.2259 208.799 54.3809 208.607C54.5358 208.416 54.6589 208.202 54.75 207.965C54.8411 207.728 54.8867 207.491 54.8867 207.254V203.918ZM52.7129 197.93C52.403 197.93 52.1159 197.966 51.8516 198.039C51.5872 198.112 51.3594 198.203 51.168 198.312C50.9766 198.422 50.8262 198.545 50.7168 198.682C50.6074 198.809 50.5527 198.932 50.5527 199.051C50.5527 199.188 50.6211 199.288 50.7578 199.352C50.9036 199.406 51.0632 199.475 51.2363 199.557C51.4095 199.63 51.5645 199.739 51.7012 199.885C51.847 200.021 51.9199 200.236 51.9199 200.527C51.9199 200.719 51.8789 200.896 51.7969 201.061C51.724 201.215 51.6191 201.357 51.4824 201.484C51.3548 201.603 51.1999 201.699 51.0176 201.771C50.8444 201.835 50.6621 201.867 50.4707 201.867C49.9603 201.867 49.5456 201.694 49.2266 201.348C48.9167 201.001 48.7617 200.541 48.7617 199.967C48.7617 199.411 48.9076 198.937 49.1992 198.545C49.4909 198.144 49.8691 197.816 50.334 197.561C50.8079 197.305 51.3411 197.118 51.9336 197C52.526 196.872 53.1185 196.809 53.7109 196.809C54.4219 196.809 55.1009 196.886 55.748 197.041C56.3952 197.196 56.9648 197.442 57.457 197.779C57.9583 198.117 58.3548 198.545 58.6465 199.064C58.9473 199.584 59.0977 200.213 59.0977 200.951V208.676C59.0977 208.758 59.1022 208.849 59.1113 208.949C59.1204 209.049 59.1432 209.141 59.1797 209.223C59.2161 209.305 59.2708 209.373 59.3438 209.428C59.4167 209.482 59.5215 209.51 59.6582 209.51C59.8223 209.51 59.9727 209.451 60.1094 209.332C60.2552 209.204 60.3828 209.077 60.4922 208.949L60.834 209.236C60.6973 209.428 60.5332 209.637 60.3418 209.865C60.1504 210.093 59.918 210.307 59.6445 210.508C59.3711 210.708 59.0521 210.877 58.6875 211.014C58.3229 211.15 57.9082 211.219 57.4434 211.219C56.8691 211.219 56.3587 211.05 55.9121 210.713C55.4655 210.367 55.1738 209.838 55.0371 209.127C54.7454 209.519 54.4401 209.847 54.1211 210.111C53.8112 210.376 53.4922 210.59 53.1641 210.754C52.8359 210.918 52.5033 211.036 52.166 211.109C51.8379 211.182 51.5052 211.219 51.168 211.219C50.7305 211.219 50.3066 211.15 49.8965 211.014C49.4863 210.877 49.1172 210.663 48.7891 210.371C48.4701 210.07 48.2103 209.683 48.0098 209.209C47.8184 208.735 47.7227 208.156 47.7227 207.473C47.7227 206.643 47.8867 205.964 48.2148 205.436C48.543 204.907 48.9714 204.465 49.5 204.109C50.0378 203.745 50.6439 203.435 51.3184 203.18C52.002 202.924 52.6992 202.656 53.4102 202.373C53.9388 202.163 54.3216 201.854 54.5586 201.443C54.8047 201.024 54.9277 200.596 54.9277 200.158C54.9277 199.484 54.7272 198.946 54.3262 198.545C53.9342 198.135 53.3965 197.93 52.7129 197.93ZM67.041 199.693C67.3874 199.165 67.7565 198.686 68.1484 198.258C68.3125 198.076 68.4902 197.898 68.6816 197.725C68.873 197.551 69.069 197.396 69.2695 197.26C69.4792 197.123 69.6934 197.014 69.9121 196.932C70.1309 196.85 70.3496 196.809 70.5684 196.809C71.0332 196.809 71.3978 196.95 71.6621 197.232C71.9264 197.506 72.0586 197.893 72.0586 198.395C72.0586 198.704 72.0312 199.005 71.9766 199.297C71.931 199.579 71.8353 199.926 71.6895 200.336H71.3066C71.252 200.053 71.1243 199.821 70.9238 199.639C70.7233 199.447 70.4316 199.352 70.0488 199.352C69.7663 199.352 69.4883 199.406 69.2148 199.516C68.9414 199.616 68.6725 199.743 68.4082 199.898C68.153 200.053 67.9069 200.222 67.6699 200.404C67.4421 200.587 67.2324 200.76 67.041 200.924V209.797C67.041 209.915 67.0228 210.057 66.9863 210.221C66.9499 210.385 66.8587 210.54 66.7129 210.686C66.5762 210.831 66.3665 210.954 66.084 211.055C65.8105 211.164 65.4323 211.219 64.9492 211.219C64.4661 211.219 64.0833 211.16 63.8008 211.041C63.5273 210.932 63.3177 210.799 63.1719 210.645C63.026 210.49 62.9349 210.33 62.8984 210.166C62.862 210.002 62.8438 209.87 62.8438 209.77V199.215C62.8438 198.951 62.7799 198.723 62.6523 198.531C62.5339 198.331 62.3288 198.23 62.0371 198.23C61.8822 198.23 61.75 198.258 61.6406 198.312C61.5312 198.367 61.4128 198.445 61.2852 198.545L60.998 198.203C61.2077 198.03 61.4401 197.861 61.6953 197.697C61.9596 197.524 62.2422 197.374 62.543 197.246C62.8438 197.118 63.1673 197.014 63.5137 196.932C63.86 196.85 64.2246 196.809 64.6074 196.809C64.9993 196.809 65.332 196.863 65.6055 196.973C65.888 197.073 66.1159 197.21 66.2891 197.383C66.4714 197.547 66.6126 197.734 66.7129 197.943C66.8132 198.153 66.8861 198.367 66.9316 198.586C66.9863 198.796 67.0182 199.001 67.0273 199.201C67.0365 199.393 67.041 199.557 67.041 199.693ZM78.1973 197.902C77.9876 197.902 77.7871 197.93 77.5957 197.984C77.4134 198.039 77.2493 198.13 77.1035 198.258C76.9577 198.376 76.8438 198.531 76.7617 198.723C76.6797 198.905 76.6387 199.124 76.6387 199.379C76.6387 199.734 76.7663 200.09 77.0215 200.445C77.2858 200.792 77.6094 201.156 77.9922 201.539C78.3841 201.913 78.8034 202.305 79.25 202.715C79.7057 203.116 80.125 203.544 80.5078 204C80.8997 204.447 81.2233 204.925 81.4785 205.436C81.7428 205.946 81.875 206.493 81.875 207.076C81.875 207.732 81.7611 208.316 81.5332 208.826C81.3145 209.337 80.9954 209.77 80.5762 210.125C80.166 210.48 79.6647 210.754 79.0723 210.945C78.4889 211.128 77.8372 211.219 77.1172 211.219C76.4883 211.219 75.9186 211.132 75.4082 210.959C74.8978 210.777 74.4421 210.558 74.041 210.303C73.6491 210.038 73.3118 209.76 73.0293 209.469C72.7467 209.177 72.528 208.913 72.373 208.676L72.8516 208.334C72.9701 208.471 73.1204 208.621 73.3027 208.785C73.485 208.94 73.6855 209.086 73.9043 209.223C74.1322 209.359 74.3737 209.473 74.6289 209.564C74.8841 209.646 75.1439 209.688 75.4082 209.688C76.0645 209.688 76.6022 209.533 77.0215 209.223C77.4408 208.904 77.6504 208.434 77.6504 207.814C77.6504 207.468 77.5365 207.113 77.3086 206.748C77.0807 206.374 76.7936 205.992 76.4473 205.6C76.1009 205.208 75.7272 204.802 75.3262 204.383C74.9251 203.964 74.5514 203.531 74.2051 203.084C73.8587 202.637 73.5716 202.177 73.3438 201.703C73.1159 201.229 73.002 200.737 73.002 200.227C73.002 199.652 73.1159 199.151 73.3438 198.723C73.5807 198.294 73.8906 197.939 74.2734 197.656C74.6654 197.374 75.1074 197.164 75.5996 197.027C76.1009 196.882 76.6159 196.809 77.1445 196.809C77.7552 196.809 78.3112 196.863 78.8125 196.973C79.3138 197.082 79.7422 197.251 80.0977 197.479C80.4622 197.697 80.7402 197.975 80.9316 198.312C81.1322 198.65 81.2324 199.042 81.2324 199.488C81.2324 199.835 81.1185 200.135 80.8906 200.391C80.6628 200.646 80.3438 200.773 79.9336 200.773C79.5417 200.773 79.2409 200.691 79.0312 200.527C78.8307 200.354 78.7305 200.122 78.7305 199.83C78.7305 199.639 78.776 199.488 78.8672 199.379C78.9674 199.27 79.0768 199.183 79.1953 199.119C79.3138 199.046 79.4186 198.987 79.5098 198.941C79.61 198.887 79.6602 198.818 79.6602 198.736C79.6602 198.481 79.5234 198.281 79.25 198.135C78.9766 197.98 78.6257 197.902 78.1973 197.902ZM87.9453 204.725C87.9453 205.016 87.9863 205.335 88.0684 205.682C88.1595 206.019 88.2871 206.361 88.4512 206.707C88.6152 207.053 88.8158 207.386 89.0527 207.705C89.2988 208.015 89.5768 208.293 89.8867 208.539C90.2057 208.785 90.5566 208.981 90.9395 209.127C91.3223 209.273 91.7415 209.346 92.1973 209.346C92.5163 209.346 92.8125 209.309 93.0859 209.236C93.3594 209.163 93.6146 209.063 93.8516 208.936C94.0885 208.808 94.3164 208.662 94.5352 208.498C94.7539 208.325 94.9727 208.143 95.1914 207.951L95.5332 208.279C95.3236 208.562 95.0547 208.872 94.7266 209.209C94.3984 209.546 94.002 209.865 93.5371 210.166C93.0723 210.458 92.5299 210.704 91.9102 210.904C91.2904 211.096 90.584 211.191 89.791 211.191C88.998 211.191 88.2233 211.05 87.4668 210.768C86.7194 210.476 86.054 210.043 85.4707 209.469C84.8874 208.895 84.418 208.179 84.0625 207.322C83.7161 206.465 83.543 205.463 83.543 204.314C83.543 203.485 83.6478 202.724 83.8574 202.031C84.0671 201.339 84.3496 200.714 84.7051 200.158C85.0697 199.602 85.4889 199.115 85.9629 198.695C86.446 198.276 86.9518 197.93 87.4805 197.656C88.0091 197.374 88.5469 197.164 89.0938 197.027C89.6497 196.882 90.1829 196.809 90.6934 196.809C91.3678 196.809 91.9557 196.882 92.457 197.027C92.9583 197.173 93.373 197.369 93.7012 197.615C94.0384 197.861 94.2891 198.148 94.4531 198.477C94.6172 198.796 94.6992 199.133 94.6992 199.488C94.6992 199.917 94.5762 200.304 94.3301 200.65C94.084 200.988 93.7559 201.284 93.3457 201.539L87.9453 204.725ZM90.6934 201.949C90.8118 201.876 90.9076 201.808 90.9805 201.744C91.0625 201.671 91.1263 201.589 91.1719 201.498C91.2174 201.398 91.2493 201.279 91.2676 201.143C91.2949 200.997 91.3086 200.819 91.3086 200.609C91.3086 200.382 91.2812 200.131 91.2266 199.857C91.181 199.575 91.099 199.311 90.9805 199.064C90.862 198.818 90.7116 198.613 90.5293 198.449C90.347 198.285 90.1283 198.203 89.873 198.203C89.5449 198.203 89.2624 198.303 89.0254 198.504C88.7975 198.695 88.6061 198.946 88.4512 199.256C88.3053 199.566 88.1868 199.921 88.0957 200.322C88.0137 200.714 87.9499 201.111 87.9043 201.512C87.8587 201.913 87.8314 202.3 87.8223 202.674C87.8132 203.038 87.8086 203.348 87.8086 203.604L90.6934 201.949ZM101.33 209.797C101.33 209.915 101.307 210.057 101.262 210.221C101.225 210.385 101.13 210.54 100.975 210.686C100.829 210.831 100.61 210.954 100.318 211.055C100.036 211.164 99.653 211.219 99.1699 211.219C98.6868 211.219 98.3086 211.16 98.0352 211.041C97.7617 210.932 97.5566 210.799 97.4199 210.645C97.2923 210.49 97.2103 210.33 97.1738 210.166C97.1465 210.002 97.1328 209.87 97.1328 209.77V192.133C97.1328 191.868 97.069 191.641 96.9414 191.449C96.8229 191.249 96.6178 191.148 96.3262 191.148C96.1712 191.148 96.0345 191.176 95.916 191.23C95.8066 191.276 95.6882 191.349 95.5605 191.449L95.2871 191.121C95.4967 190.948 95.7292 190.779 95.9844 190.615C96.2396 190.442 96.5176 190.292 96.8184 190.164C97.1283 190.036 97.4564 189.932 97.8027 189.85C98.1491 189.768 98.5137 189.727 98.8965 189.727C99.4889 189.727 99.9492 189.809 100.277 189.973C100.605 190.128 100.847 190.324 101.002 190.561C101.157 190.788 101.248 191.035 101.275 191.299C101.312 191.554 101.33 191.782 101.33 191.982V209.797ZM109.15 209.77C109.15 209.888 109.128 210.034 109.082 210.207C109.046 210.371 108.95 210.531 108.795 210.686C108.649 210.831 108.435 210.954 108.152 211.055C107.87 211.164 107.487 211.219 107.004 211.219C106.521 211.219 106.143 211.16 105.869 211.041C105.596 210.932 105.391 210.799 105.254 210.645C105.117 210.49 105.031 210.33 104.994 210.166C104.967 210.002 104.953 209.87 104.953 209.77V199.215C104.953 198.951 104.889 198.723 104.762 198.531C104.643 198.331 104.438 198.23 104.146 198.23C103.992 198.23 103.859 198.258 103.75 198.312C103.641 198.367 103.522 198.445 103.395 198.545L103.107 198.203C103.317 198.03 103.549 197.861 103.805 197.697C104.069 197.524 104.352 197.374 104.652 197.246C104.953 197.118 105.277 197.014 105.623 196.932C105.969 196.85 106.334 196.809 106.717 196.809C107.309 196.809 107.77 196.891 108.098 197.055C108.426 197.21 108.667 197.406 108.822 197.643C108.977 197.87 109.068 198.117 109.096 198.381C109.132 198.645 109.15 198.878 109.15 199.078V209.77ZM104.529 193.691C104.529 193.436 104.584 193.195 104.693 192.967C104.812 192.73 104.971 192.525 105.172 192.352C105.382 192.178 105.618 192.042 105.883 191.941C106.156 191.841 106.452 191.791 106.771 191.791C107.081 191.791 107.368 191.841 107.633 191.941C107.906 192.042 108.143 192.178 108.344 192.352C108.544 192.525 108.699 192.73 108.809 192.967C108.927 193.195 108.986 193.436 108.986 193.691C108.986 193.956 108.927 194.202 108.809 194.43C108.699 194.658 108.544 194.858 108.344 195.031C108.143 195.195 107.906 195.327 107.633 195.428C107.368 195.528 107.081 195.578 106.771 195.578C106.452 195.578 106.156 195.528 105.883 195.428C105.618 195.327 105.382 195.195 105.172 195.031C104.971 194.858 104.812 194.658 104.693 194.43C104.584 194.202 104.529 193.956 104.529 193.691ZM120.648 204.191C120.648 203.043 120.594 202.127 120.484 201.443C120.384 200.751 120.247 200.227 120.074 199.871C119.901 199.507 119.71 199.27 119.5 199.16C119.29 199.042 119.076 198.982 118.857 198.982C118.593 198.982 118.356 199.055 118.146 199.201C117.946 199.338 117.768 199.497 117.613 199.68C117.467 199.862 117.34 200.044 117.23 200.227C117.13 200.409 117.044 200.546 116.971 200.637V209.77C116.971 209.888 116.952 210.034 116.916 210.207C116.88 210.371 116.788 210.531 116.643 210.686C116.506 210.831 116.296 210.954 116.014 211.055C115.74 211.164 115.362 211.219 114.879 211.219C114.396 211.219 114.013 211.16 113.73 211.041C113.457 210.932 113.247 210.799 113.102 210.645C112.956 210.49 112.865 210.33 112.828 210.166C112.792 210.002 112.773 209.87 112.773 209.77V199.215C112.773 198.951 112.71 198.723 112.582 198.531C112.464 198.331 112.258 198.23 111.967 198.23C111.812 198.23 111.68 198.258 111.57 198.312C111.461 198.367 111.342 198.445 111.215 198.545L110.928 198.203C111.137 198.03 111.37 197.861 111.625 197.697C111.889 197.524 112.172 197.374 112.473 197.246C112.773 197.118 113.097 197.014 113.443 196.932C113.79 196.85 114.154 196.809 114.537 196.809C115.13 196.809 115.59 196.909 115.918 197.109C116.246 197.301 116.488 197.533 116.643 197.807C116.798 198.08 116.889 198.367 116.916 198.668C116.952 198.96 116.971 199.206 116.971 199.406C117.308 198.923 117.691 198.49 118.119 198.107C118.292 197.943 118.484 197.784 118.693 197.629C118.912 197.474 119.14 197.337 119.377 197.219C119.623 197.091 119.878 196.991 120.143 196.918C120.416 196.845 120.694 196.809 120.977 196.809C121.596 196.809 122.143 196.927 122.617 197.164C123.1 197.401 123.506 197.798 123.834 198.354C124.162 198.91 124.413 199.648 124.586 200.568C124.759 201.48 124.846 202.615 124.846 203.973C124.846 205.294 124.727 206.443 124.49 207.418C124.253 208.393 123.943 209.223 123.561 209.906C123.178 210.59 122.745 211.146 122.262 211.574C121.779 212.012 121.291 212.354 120.799 212.6C120.307 212.846 119.833 213.014 119.377 213.105C118.93 213.206 118.543 213.26 118.215 213.27L118.064 212.709C118.338 212.645 118.589 212.545 118.816 212.408C119.053 212.271 119.268 212.071 119.459 211.807C119.65 211.542 119.819 211.21 119.965 210.809C120.111 210.398 120.234 209.888 120.334 209.277C120.443 208.667 120.521 207.947 120.566 207.117C120.621 206.279 120.648 205.303 120.648 204.191ZM126.801 204C126.801 202.806 126.974 201.762 127.32 200.869C127.667 199.967 128.127 199.215 128.701 198.613C129.285 198.012 129.959 197.561 130.725 197.26C131.49 196.959 132.292 196.809 133.131 196.809C133.969 196.809 134.771 196.95 135.537 197.232C136.303 197.506 136.973 197.93 137.547 198.504C138.13 199.078 138.595 199.807 138.941 200.691C139.288 201.566 139.461 202.605 139.461 203.809C139.461 205.003 139.288 206.06 138.941 206.98C138.595 207.901 138.13 208.676 137.547 209.305C136.973 209.934 136.303 210.412 135.537 210.74C134.771 211.059 133.969 211.219 133.131 211.219C132.292 211.219 131.49 211.068 130.725 210.768C129.959 210.458 129.285 210.002 128.701 209.4C128.127 208.799 127.667 208.047 127.32 207.145C126.974 206.242 126.801 205.194 126.801 204ZM135.209 203.863C135.209 203.134 135.182 202.432 135.127 201.758C135.081 201.074 134.986 200.468 134.84 199.939C134.694 199.411 134.484 198.992 134.211 198.682C133.938 198.363 133.577 198.203 133.131 198.203C132.684 198.203 132.324 198.372 132.051 198.709C131.777 199.037 131.568 199.475 131.422 200.021C131.276 200.559 131.18 201.174 131.135 201.867C131.089 202.56 131.066 203.271 131.066 204C131.066 204.729 131.089 205.445 131.135 206.146C131.18 206.839 131.276 207.459 131.422 208.006C131.568 208.553 131.777 208.995 132.051 209.332C132.324 209.66 132.684 209.824 133.131 209.824C133.577 209.824 133.938 209.651 134.211 209.305C134.484 208.958 134.694 208.503 134.84 207.938C134.986 207.372 135.081 206.734 135.127 206.023C135.182 205.312 135.209 204.592 135.209 203.863ZM141.717 198.012C141.717 197 141.908 196.052 142.291 195.168C142.674 194.284 143.198 193.509 143.863 192.844C144.529 192.178 145.303 191.654 146.188 191.271C147.072 190.889 148.02 190.697 149.031 190.697C150.043 190.697 150.991 190.889 151.875 191.271C152.759 191.654 153.529 192.178 154.186 192.844C154.851 193.509 155.375 194.284 155.758 195.168C156.141 196.052 156.332 197 156.332 198.012C156.332 199.023 156.141 199.971 155.758 200.855C155.375 201.74 154.851 202.514 154.186 203.18C153.529 203.836 152.759 204.355 151.875 204.738C150.991 205.121 150.043 205.312 149.031 205.312C148.02 205.312 147.072 205.121 146.188 204.738C145.303 204.355 144.529 203.836 143.863 203.18C143.198 202.514 142.674 201.74 142.291 200.855C141.908 199.971 141.717 199.023 141.717 198.012ZM142.988 198.012C142.988 198.841 143.143 199.625 143.453 200.363C143.772 201.092 144.205 201.73 144.752 202.277C145.299 202.824 145.937 203.257 146.666 203.576C147.404 203.895 148.193 204.055 149.031 204.055C149.861 204.055 150.64 203.895 151.369 203.576C152.107 203.257 152.75 202.824 153.297 202.277C153.844 201.73 154.277 201.092 154.596 200.363C154.915 199.625 155.074 198.841 155.074 198.012C155.074 197.182 154.915 196.398 154.596 195.66C154.277 194.922 153.844 194.279 153.297 193.732C152.75 193.186 152.107 192.753 151.369 192.434C150.64 192.115 149.861 191.955 149.031 191.955C148.193 191.955 147.404 192.115 146.666 192.434C145.937 192.753 145.299 193.186 144.752 193.732C144.205 194.279 143.772 194.922 143.453 195.66C143.143 196.398 142.988 197.182 142.988 198.012ZM148.279 198.203V201.402C148.279 201.694 148.179 201.908 147.979 202.045C147.778 202.173 147.505 202.236 147.158 202.236C146.812 202.236 146.538 202.173 146.338 202.045C146.137 201.908 146.037 201.694 146.037 201.402V194.73C146.037 194.621 146.023 194.535 145.996 194.471C145.969 194.398 145.905 194.361 145.805 194.361C145.677 194.361 145.563 194.384 145.463 194.43C145.363 194.475 145.281 194.512 145.217 194.539L145.08 194.225C145.372 194.088 145.818 193.942 146.42 193.787C147.031 193.632 147.828 193.555 148.812 193.555C149.861 193.555 150.654 193.742 151.191 194.115C151.729 194.489 151.998 195.022 151.998 195.715C151.998 196.016 151.952 196.285 151.861 196.521C151.779 196.749 151.665 196.95 151.52 197.123C151.383 197.287 151.219 197.433 151.027 197.561C150.836 197.679 150.635 197.779 150.426 197.861C150.544 197.898 150.645 197.952 150.727 198.025C150.818 198.098 150.904 198.212 150.986 198.367L152.189 201.088C152.262 201.243 152.349 201.375 152.449 201.484C152.549 201.594 152.677 201.648 152.832 201.648C152.923 201.648 152.996 201.635 153.051 201.607C153.105 201.571 153.156 201.539 153.201 201.512L153.365 201.785C153.238 201.867 153.042 201.963 152.777 202.072C152.513 202.182 152.148 202.236 151.684 202.236C151.219 202.236 150.845 202.159 150.562 202.004C150.289 201.84 150.089 201.617 149.961 201.334L148.895 198.545C148.849 198.445 148.799 198.372 148.744 198.326C148.689 198.281 148.639 198.249 148.594 198.23C148.539 198.203 148.48 198.194 148.416 198.203H148.279ZM148.895 194.061C148.758 194.061 148.648 194.079 148.566 194.115C148.493 194.152 148.434 194.202 148.389 194.266C148.352 194.32 148.325 194.38 148.307 194.443C148.298 194.507 148.288 194.566 148.279 194.621V197.697C148.617 197.697 148.89 197.661 149.1 197.588C149.309 197.506 149.473 197.387 149.592 197.232C149.719 197.068 149.806 196.863 149.852 196.617C149.897 196.362 149.92 196.061 149.92 195.715C149.92 195.25 149.833 194.858 149.66 194.539C149.487 194.22 149.232 194.061 148.895 194.061Z" fill="#3854A7"/>
						</svg>
					</span>
                </ul>
                
            </div>


                </a>
                
                </a>
        
    </nav>
  
</header>


<style>
    
   
    .navbar {
        /* Añadimos transparencia y efectos de distorsión */
        background-color: rgba(227, 227, 227, 0.3); /* Color de fondo con transparencia */
        backdrop-filter: blur(10px) saturate(180%);
        -webkit-backdrop-filter: blur(10px) saturate(180%);
        /* Agregamos una sombra suave para separar visualmente el header */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        position: fixed;
        height: 60px ;
        top: 0;
        left: 0;
        right: 0;
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        z-index: 1000;   
    }

    .navbar-hidden {
        transform: translateY(-100%);
    }

    .navbar-container {
        
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .navbar-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: var(--dark-gray);
    }

    .navbar-logo img {
        width: 200px;
        
        filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.5));
    }

    .navbar-logo span {
        font-size: 1.8rem;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    /* Corrección para la visualización horizontal en escritorio */
    .navbar-menu {
        display: none;
    }

    .navbar-menu ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
    }

    .navbar-menu li {
        margin-left: 2rem;
    }

    .navbar-menu a {
        text-decoration: none;
        color: var(--dark-gray);
        font-weight: 500;
        font-size: 20px;
        position: relative;
        transition: color 0.3s ease;
    }

    .navbar-menu a::after {
        content: '';
        position: absolute;
        width: 0;
        height: 3px;
        bottom: -5px;
        left: 0;
        background-color: var(--rust-red);
        transition: width 0.35s ease-out;
    }

    .navbar-menu a:hover::after {
        width: 100%;
    }

    .navbar-toggle{
	position:fixed;
  background-color:transparent;
	left:0;
	top:0;
	height:30px;
	width:30px;
	padding:20px 20px;
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	-webkit-transition:-webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	z-index:1002;
	cursor:pointer;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}
.navbar-toggle.is-active{
  background-color:none;
}
._layer{
	background:#333333;
	margin-bottom:4px;
	border-radius:2px;
	width:28px;
	height:4px;
	opacity:1;
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	-webkit-transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}
.navbar-toggle:hover .-top{
	-webkit-transform:translateY(-100%);
	-ms-transform:translateY(-100%);
	transform:translateY(-100%);
}
.navbar-toggle:hover .-bottom{
	-webkit-transform:translateY(50%);
	-ms-transform:translateY(100%);
	transform:translateY(100%);
	}
.navbar-toggle.is-active .-top{
	-webkit-transform:translateY(200%) rotate(45deg) !important;
	-ms-transform:translateY(200%) rotate(45deg) !important;
	transform:translateY(200%) rotate(45deg) !important;
}
.navbar-toggle.is-active .-mid{
	opacity:0;
}
.navbar-toggle.is-active .-bottom{
	-webkit-transform:translateY(-200%) rotate(135deg) !important;
	-ms-transform:translateY(-200%) rotate(135deg) !important;
	transform:translateY(-200%) rotate(135deg) !important;
}


    /* Estilos para pantallas de escritorio */
    @media (min-width: 768px) {
    .icon-shop-no-desktop, 
    .logo-name {
        display: none;
        
    }

    /* Ocultar SVGs móviles en escritorio */
    .svg-mobile {
        display: none;
    }
        .navbar-menu {
            display: block;
        }

        .navbar-toggle {
            display: none;
        }
    }

    /* Estilos para pantallas móviles */
    @media (max-width: 767px) {
    

    /* Mostrar elementos solo para móviles */
    .icon-shop-no-desktop,
    .logo-name {
        display: block;
    }    
      
    
    /* Ajustar el padding de la barra de navegación para acomodar el ícono */
    .navbar-container {
       display: flex;
       flex-direction: row;
       
    }


    .navbar-menu {
    display: none; /* Oculto inicialmente */
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    width: 250px;
    background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.7s cubic-bezier(0.5, 1.25, 0.5, 1), opacity 0.7s ease-in-out;
    transform: translateX(-100%); /* Menú fuera de pantalla a la izquierda */
    opacity: 0; /* Inicialmente transparente */
}
.navbar-menu a::after {
        bottom: 5px;
       
    }
/* Cuando se muestra el menú */
.navbar-menu.show {
    transform: translateX(0); /* Mueve el menú a su posición original */
    opacity: 1; /* Hace que el menú sea visible */
}

/* Al salir, se aplica la animación de salida suave */
.navbar-menu.hide {
    transform: translateX(100%); /* Mueve el menú hacia la derecha */
    opacity: 0; /* Transición a transparente */
}

        .navbar-menu.active {
            display: block;
            transform: translateX(0);
        }

        .navbar-menu ul {
            flex-direction: column;
            padding: 2rem;
            background-color: rgba(227, 227, 227, 0.9); /* Color de fondo con transparencia */
        backdrop-filter: blur(50px) saturate(180%);
        }

        .navbar-menu li {
            margin: 0;
            padding-top: 12px;
            display: flex;
            flex-direction: row;
            align-items: center;
            align-content: space-evenly;

            
        }

        .navbar-menu a {
            font-size: 1.5rem;
            padding: 0.5rem;
        }
        .logo-name{
            margin-top: 40%;
        }
        .navbar-logo img {
        width: 150px;
        
        
    }
    
    }

    }
</style>


<script>
// Selecciona elementos del DOM
const navbar = document.querySelector('.navbar') as HTMLElement; // Navbar principal
const navbarToggle = document.querySelector('.navbar-toggle') as HTMLElement; // Botón para abrir/cerrar menú
const navbarMenu = document.querySelector('.navbar-menu') as HTMLElement; // Menú de navegación

// Variables para gestionar el estado de la navegación
let lastScrollTop = 0; // Para rastrear la posición de desplazamiento
let isMenuOpen = false; // Estado del menú (abierto o cerrado)

// Evento que se dispara cuando la página se carga
document.addEventListener('astro:page-load', () => {
    // Agregar evento de clic al botón de alternar navbar
    navbarToggle.addEventListener('click', () => {
        if (isMenuOpen) {
            closeMenu(); // Cerrar menú si está abierto
        } else {
            openMenu(); // Abrir menú si está cerrado
        }
    });
});

// Función para abrir el menú de navegación
function openMenu(): void {
    navbarMenu.classList.remove('hide'); // Eliminar la clase 'hide'
    navbarMenu.classList.add('active'); // Añadir la clase 'active'
    setTimeout(() => {
        navbarMenu.classList.add('show'); // Añadir la clase 'show' después de un retraso
    }, 100);
    navbarToggle.classList.add('is-active'); // Añadir clase para animación del botón
    isMenuOpen = true; // Actualizar el estado del menú
}

// Función para cerrar el menú de navegación
function closeMenu(): void {
    navbarMenu.classList.remove('show'); // Eliminar clase 'show'
    navbarMenu.classList.add('hide'); // Añadir clase 'hide'
    setTimeout(() => {
        navbarMenu.classList.remove('active', 'hide'); // Eliminar clases 'active' y 'hide' después de un retraso
    }, 500);
    navbarToggle.classList.remove('is-active'); // Eliminar clase para revertir la animación del botón
    isMenuOpen = false; // Actualizar el estado del menú
}

// Evento que se dispara en el desplazamiento de la ventana
window.addEventListener('scroll', () => {
    const scrollTop = window.scrollY; // Obtener la posición de desplazamiento vertical

    // Si el usuario se desplaza hacia abajo y ha desplazado más de 100px, ocultar la navbar
    if (scrollTop > lastScrollTop && scrollTop > 100) {
        navbar.classList.add('navbar-hidden'); // Añadir clase que oculta la navbar
    } else {
        navbar.classList.remove('navbar-hidden'); // Eliminar la clase que oculta la navbar
    }
    lastScrollTop = scrollTop; // Actualizar la posición de desplazamiento anterior
});

// Evento que se dispara en clics en el documento
document.addEventListener('click', (event: MouseEvent) => {
    const target = event.target as HTMLElement; // Obtener el elemento que fue clicado

    // Si el clic fue fuera del menú y el botón de alternar y el menú está abierto, cerrar el menú
    if (!navbarMenu.contains(target) && !navbarToggle.contains(target) && isMenuOpen) {
        closeMenu(); // Cerrar menú si se hace clic fuera de él
    }
});

</script>