<section>
    <h3>Cómo personalizar tu prenda</h3>
    <div class="container">
        <!-- Título de la sección -->
        
        <div class="scroll-container">
            <div class="instructions">
                <!-- Cada paso está contenido en un div con clase "step" -->
                <div class="step" id="step1">
                    <h4>1. ELIGE LA PRENDA</h4>
                    <div class="step-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 100 100" fill="none">
                        <path d="M22.9167 29.1665C24.2876 33.2748 25.9126 37.4332 26.5001 41.7498C26.9167 44.8457 26.7501 47.9873 26.4209 54.2707L25.0001 81.3623C25.0001 84.2998 25.5001 85.8707 28.1459 87.2915C39.0334 93.1248 60.9668 93.1248 71.8542 87.2915C74.5001 85.8748 75.0001 84.2998 75.0001 81.3623L73.5792 54.2707C73.2459 47.9873 73.0834 44.8457 73.5042 41.7457C74.0876 37.4332 75.7126 33.2748 77.0834 29.1665" stroke="black" stroke-width="4.16667" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M24.8792 77.1374C22.9376 78.1083 20.9959 79.3749 18.7376 79.1333C14.9167 78.7249 14.0292 76.8833 13.2501 72.2624L8.75006 45.5041C8.14589 41.9291 8.14589 41.8999 9.09589 38.3958L11.3376 30.1333C12.8542 24.5416 13.6126 21.7458 15.4292 19.6124C17.2501 17.4791 19.8959 16.2791 25.1917 13.8833L35.7917 9.07908C37.4376 8.33742 37.4501 8.33325 39.2584 8.33325H60.7417C62.5501 8.33325 62.5626 8.33325 64.2084 9.08325L74.8084 13.8833C80.1042 16.2791 82.7501 17.4791 84.5709 19.6124C86.3876 21.7458 87.1459 24.5416 88.6625 30.1333L90.9042 38.3958C91.8542 41.8958 91.8542 41.9291 91.25 45.5041L86.75 72.2624C85.9709 76.8874 85.0792 78.7291 81.2501 79.1374C78.8876 79.3874 77.1625 78.1624 75.1084 77.1374" stroke="black" stroke-width="4.16667" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M37.5 10.4165C37.5 10.4165 41.2833 18.3957 44.4167 20.0582C46.0292 20.9082 48.0417 20.8332 50 20.8332C51.9583 20.8332 53.9708 20.9082 55.5833 20.0582C58.7125 18.3915 62.5 10.4165 62.5 10.4165" stroke="black" stroke-width="4.16667" stroke-linecap="round" stroke-linejoin="round"/>
                        
                    </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 100 100" fill="none">
                            <path opacity="0.2" d="M96.5273 30.7695L89 45.1484C88.7146 45.6753 88.2911 46.1144 87.7749 46.4186C87.2587 46.7228 86.6694 46.8806 86.0703 46.875H75V15.625L95.2266 26.6602C95.9434 27.0332 96.483 27.6754 96.7269 28.4458C96.9707 29.2162 96.899 30.052 96.5273 30.7695ZM3.47264 30.7695L11 45.1484C11.2853 45.6753 11.7089 46.1144 12.225 46.4186C12.7412 46.7228 13.3305 46.8806 13.9297 46.875H25V15.625L4.77342 26.6602C4.05656 27.0332 3.51697 27.6754 3.2731 28.4458C3.02923 29.2162 3.10099 30.052 3.47264 30.7695Z" fill="black"/>
                            <path d="M96.7139 23.9141L76.4951 12.8906C76.037 12.6371 75.5226 12.5028 74.999 12.5H62.499C61.6702 12.5 60.8754 12.8292 60.2893 13.4153C59.7033 14.0013 59.374 14.7962 59.374 15.625C59.374 18.1114 58.3863 20.496 56.6282 22.2541C54.87 24.0123 52.4855 25 49.9991 25C47.5126 25 45.1281 24.0123 43.3699 22.2541C41.6118 20.496 40.6241 18.1114 40.6241 15.625C40.6241 14.7962 40.2948 14.0013 39.7088 13.4153C39.1227 12.8292 38.3279 12.5 37.4991 12.5H24.9991C24.4742 12.5022 23.9583 12.6365 23.4991 12.8906L3.28421 23.9141C1.8432 24.6756 0.762979 25.9775 0.280419 27.5343C-0.202141 29.0911 -0.0476607 30.7757 0.709988 32.2188L8.23733 46.5977C8.78466 47.6314 9.60506 48.4953 10.6092 49.0952C11.6134 49.6951 12.7629 50.008 13.9326 50H21.8741V81.25C21.8741 82.9076 22.5325 84.4973 23.7046 85.6694C24.8767 86.8415 26.4664 87.5 28.1241 87.5H71.874C73.5316 87.5 75.1214 86.8415 76.2935 85.6694C77.4656 84.4973 78.124 82.9076 78.124 81.25V50H86.0694C87.2391 50.008 88.3886 49.6951 89.3928 49.0952C90.3969 48.4953 91.2173 47.6314 91.7647 46.5977L99.292 32.2188C100.049 30.7752 100.203 29.0902 99.72 27.5334C99.2366 25.9765 98.1556 24.6749 96.7139 23.9141ZM13.9326 43.75C13.8749 43.7527 13.8181 43.7347 13.7725 43.6992L6.28421 29.3984L21.8741 20.8906V43.75H13.9326ZM71.874 81.25H28.1241V18.75H34.6866C35.4075 22.278 37.3249 25.4486 40.1144 27.7257C42.9039 30.0028 46.3943 31.2465 49.9951 31.2465C53.596 31.2465 57.0864 30.0028 59.8759 27.7257C62.6654 25.4486 64.5827 22.278 65.3037 18.75H71.874V81.25ZM86.2295 43.6953C86.2079 43.7148 86.1826 43.7297 86.1551 43.7391C86.1275 43.7485 86.0984 43.7522 86.0694 43.75H78.124V20.8906L93.7178 29.3984L86.2295 43.6953Z" fill="black"/>
                        </svg>
                    </div>
                    <span>¿Buzo o camiseta?</span>
                    <p>Selecciona tú talla y elige el color.</p>
                </div>
                <div class="step" id="step2">
                    <h4>2. SELECCIONA EL NUMERO DE BORDADOS Y SU POSICIÓN </h4>
                    <div class="step-icon"><svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 110 110" fill="none">
                        <path d="M25.2084 32.0835C26.7163 36.6027 28.5038 41.1768 29.15 45.9252C29.6084 49.3306 29.425 52.7864 29.063 59.6981L27.5 89.4989C27.5 92.7302 28.05 94.4581 30.9605 96.021C42.9367 102.438 67.0634 102.438 79.0396 96.021C81.95 94.4627 82.5 92.7302 82.5 89.4989L80.9371 59.6981C80.5705 52.7864 80.3917 49.3306 80.8546 45.9206C81.4963 41.1768 83.2838 36.6027 84.7917 32.0835" stroke="black" stroke-width="4.16667" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M27.3671 84.8513C25.2313 85.9193 23.0954 87.3126 20.6113 87.0468C16.4084 86.5976 15.4321 84.5718 14.575 79.4888L9.62503 50.0547C8.96044 46.1222 8.96044 46.0901 10.0054 42.2355L12.4713 33.1467C14.1396 26.9959 14.9738 23.9205 16.9721 21.5738C18.975 19.2272 21.8854 17.9072 27.7109 15.2717L39.3709 9.98716C41.1813 9.17133 41.195 9.16675 43.1842 9.16675H66.8159C68.805 9.16675 68.8188 9.16675 70.6292 9.99175L82.2892 15.2717C88.1146 17.9072 91.025 19.2272 93.0279 21.5738C95.0263 23.9205 95.8604 26.9959 97.5288 33.1467L99.9946 42.2355C101.04 46.0855 101.04 46.1222 100.375 50.0547L95.425 79.4888C94.5679 84.5763 93.5871 86.6022 89.375 87.0513C86.7763 87.3263 84.8788 85.9788 82.6192 84.8513" stroke="black" stroke-width="4.16667" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M41.25 11.4585C41.25 11.4585 45.4117 20.2356 48.8583 22.0643C50.6321 22.9993 52.8458 22.9168 55 22.9168C57.1542 22.9168 59.3679 22.9993 61.1417 22.0643C64.5838 20.231 68.75 11.4585 68.75 11.4585" stroke="black" stroke-width="4.16667" stroke-linecap="round" stroke-linejoin="round"/>
                        <circle cx="40.5" cy="39" r="3.5" stroke="#BF472C"/>
                        <circle cx="55.5" cy="34" r="3.5" stroke="#BF472C"/>
                        <circle cx="70.5" cy="39" r="3.5" fill="#BF472C" fill-opacity="0.65" stroke="#BF472C"/>
                        </svg></div>
                     <span>Personaliza</span>   
                    <p>Elige número y posición de bordados.</p>
                </div>
                <div class="step" id="step3">
                    <h4>3. Envíanos esas caritas que quieres convertir en TÚ marca</h4>
                    <div class="step-icon"><svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 120 120" fill="none">
                        <path d="M88.7764 6.51888C85.3257 4.43611 83.0889 5.19304 81.9235 6.00346C80.6398 5.18494 79.3464 4.49608 78.0692 4.01794C74.6427 2.73586 69.0849 2 62.8204 2C56.5559 2 50.9964 2.73586 47.5716 4.01794C46.2928 4.49608 44.9993 5.18494 43.7156 6.00346C42.547 5.19628 40.3103 4.44746 36.8692 6.52537C29.039 11.2598 12.2585 9.38452 22.191 29.7827C23.7113 32.8996 24.8929 35.1217 25.9351 36.4411C25.8411 44.2989 27.6321 53.8002 31.2514 60.8298C29.9855 62.872 28.0876 66.9046 28.2448 72.4754C19.4777 70.3603 12.5 60.0388 12.5 60.0388C12.5 72.9309 22.5346 78.7756 29.2886 78.8388C29.9816 81.1622 30.933 83.4006 32.125 85.5118C33.5076 87.9836 37.7153 89.7017 41.2973 90.5413C42.0478 93.248 42.996 95.1023 44.1695 96.2482C46.45 98.4704 50.8181 99.25 54.3726 99.25C54.5909 99.25 54.8048 99.2478 55.0145 99.2435C58.2594 99.1544 61.0034 98.4428 62.822 97.2466C64.6406 98.4428 67.383 99.156 70.6247 99.2435C74.2781 99.3278 79.0482 98.6049 81.4713 96.2466C82.6286 95.1185 83.5719 93.2513 84.324 90.5429C87.9093 89.7033 92.1299 87.9884 93.5173 85.5102C99.8208 74.2405 96.9908 65.7004 95.0215 61.9319C98.7737 54.7176 100.177 44.4594 99.8273 36.279C100.839 34.9418 101.989 32.7764 103.45 29.7746C113.386 9.37479 96.605 11.2533 88.7764 6.51888ZM34.9761 84.019C29.7651 74.7009 31.4411 67.7102 33.1624 64.0504C34.5822 66.1104 36.2095 67.8026 38.0411 68.9907C38.2486 69.425 38.61 70.1074 39.1287 70.9292C39.3605 77.761 39.8127 83.0676 40.5307 87.084C37.6083 86.1958 35.4964 84.9478 34.9761 84.019ZM40.3394 64.8802C39.7136 64.2683 39.2164 63.5375 38.8769 62.7307C38.5375 61.924 38.3626 61.0575 38.3626 60.1822C38.3626 59.307 38.5375 58.4405 38.8769 57.6338C39.2164 56.827 39.7136 56.0962 40.3394 55.4843L50.7468 45.2681C51.9495 44.0866 53.4536 43.1384 55.1441 42.4187C54.5768 43.0249 54.2316 43.7964 54.2316 44.8305C54.2316 47.6929 61.0667 50.2295 62.822 50.2295C64.5741 50.2295 71.4124 47.6929 71.4124 44.8305C71.4124 43.7948 71.0656 43.0233 70.4999 42.4171C72.1937 43.1367 73.6994 44.0866 74.9069 45.2665L85.3062 55.4843C85.9321 56.096 86.4294 56.8265 86.769 57.6331C87.1086 58.4397 87.2836 59.306 87.2837 60.1811C87.2839 61.0562 87.1092 61.9226 86.7699 62.7293C86.4305 63.5359 85.9335 64.2667 85.3078 64.8786C84.0356 66.1257 82.3224 66.82 80.541 66.8106C78.9273 66.8083 77.3674 66.2301 76.142 65.1801L76.0545 65.1023C75.9622 65.0242 75.8671 64.9496 75.7692 64.8786L66.5013 55.7841L65.3619 54.6657C64.7313 54.0466 63.8075 53.69 62.8253 53.69C61.8446 53.69 60.9192 54.0466 60.2919 54.6641L58.825 56.1034L49.7856 64.9532C49.7187 65.0018 49.6533 65.0537 49.5895 65.1088L49.5215 65.1687C48.2962 66.2269 46.7318 66.8101 45.1128 66.8123C43.3294 66.8216 41.6143 66.1274 40.3394 64.8802ZM55.7876 65.0828C56.4878 68.9064 59.8235 70.6196 62.822 70.6196C65.8206 70.6196 69.1546 68.9064 69.8532 65.0828C70.0639 63.9418 69.858 62.4814 69.2632 60.7277L73.3542 64.7457L74.3413 65.715L70.4804 69.5061C68.6943 71.255 65.9048 72.2583 62.822 72.2583C59.7392 72.2583 56.9432 71.255 55.1555 69.5077L51.2979 65.7182L56.3776 60.7358C55.7811 62.4814 55.5785 63.9434 55.7876 65.0828ZM58.5187 59.6822H61.4978L62.8204 67.3909L64.143 59.6822H67.1221C68.0784 61.8768 68.4739 63.6322 68.2583 64.8089C67.7218 67.741 65.1398 69.0506 62.822 69.0506C60.4994 69.0506 57.9206 67.7394 57.3841 64.8089C57.1685 63.6306 57.5624 61.8768 58.5187 59.6822ZM61.6096 94.1476C60.5772 95.2725 58.0146 96.0229 54.9253 96.1088C51.306 96.2028 47.8212 95.3551 46.4694 94.0358C44.4628 92.0794 43.1532 85.7241 42.5616 75.1482C45.6104 78.1468 50.3416 81.2458 57.4376 82.322C56.8347 81.4921 56.4392 80.2003 56.4392 78.7319C56.4392 78.4417 56.4667 78.1613 56.4975 77.8874C57.0032 78.0236 57.5105 78.1694 58.013 78.2764C58.0017 78.4272 57.9871 78.5779 57.9871 78.7319C57.9871 80.7968 58.8623 82.4144 59.9807 82.6186C60.7263 82.6737 61.4848 82.7175 62.2693 82.7321C62.2209 83.8753 62.1933 85.0192 62.1866 86.1634C62.2045 88.4877 62.2807 90.8103 62.5335 93.1362L61.6096 94.1476ZM79.1714 94.0342C77.8196 95.3535 74.3315 96.1947 70.7171 96.1072C67.6262 96.0213 65.0652 95.2709 64.036 94.146L63.1024 93.1297C63.3536 90.8055 63.425 88.4828 63.4379 86.1585C63.4308 85.0138 63.4016 83.8692 63.3504 82.7256C73.184 82.5911 79.3885 78.8405 83.084 75.2066C82.4957 85.742 81.1844 92.0746 79.1714 94.0342ZM90.6695 84.0174C90.1476 84.9478 88.026 86.2023 85.0923 87.0889C85.8233 83.053 86.2852 77.7351 86.5154 70.9665C86.671 70.7233 86.8109 70.4932 86.9352 70.276C87.5462 69.9113 88.1394 69.5661 88.7683 69.1835C90.3551 68.2175 91.7458 66.8625 92.9663 65.2352C94.3975 69.0458 95.3667 75.6134 90.6695 84.0174ZM87.0373 66.5302C77.6851 72.2307 70.495 75.7641 63.5481 75.7641C57.1815 75.7641 50.5928 72.7737 42.3428 67.895C43.2316 68.2076 44.1658 68.3719 45.1079 68.3812C46.9265 68.3812 48.6413 67.7945 50.0725 66.7523L54.0014 70.6082C56.0939 72.6537 59.308 73.8272 62.822 73.8272C66.3327 73.8272 69.5452 72.6521 71.6345 70.6066L75.565 66.7491C77.0069 67.8067 78.7479 68.3783 80.5361 68.3812C82.7487 68.3931 84.8766 67.531 86.457 65.9824C87.2293 65.2272 87.8429 64.3253 88.2618 63.3297C88.6808 62.3341 88.8966 61.2648 88.8966 60.1847C88.8966 59.1045 88.6808 58.0352 88.2618 57.0396C87.8429 56.044 87.2293 55.1421 86.457 54.387L77.7645 45.8452C79.4549 47.0662 81.4882 47.7214 83.5735 47.7172C88.838 47.7172 93.1219 43.6814 93.1219 38.72C93.1219 33.7586 88.838 29.7211 83.5735 29.7211C78.3091 29.7211 74.0236 33.757 74.0236 38.72C74.0236 40.6861 74.7043 42.5014 75.8438 43.9828C72.7042 41.041 67.9844 39.3472 62.8155 39.3472C57.6337 39.3472 52.9009 41.0507 49.7711 44.0104C50.9593 42.5024 51.6081 40.6398 51.6139 38.72C51.6139 33.757 47.3285 29.7211 42.064 29.7211C36.7995 29.7211 32.5173 33.757 32.5173 38.72C32.5173 43.683 36.7995 47.7172 42.064 47.7172C44.1629 47.7217 46.2088 47.0581 47.9055 45.8225L39.1838 54.3853C37.6513 55.886 36.7768 57.9334 36.7522 60.0781C36.7275 62.2228 37.5548 64.2897 39.0525 65.8252C32.7231 60.8849 29.2643 47.5778 29.1913 37.2272C30.4442 36.0391 31.8074 33.0811 33.7102 28.1651C35.2581 24.1649 35.2727 21.108 35.6277 18.3753C39.3507 13.2956 44.2635 8.61786 48.7386 6.94354C51.7614 5.81382 57.0259 5.13793 62.8204 5.13793C68.6149 5.13793 73.8761 5.81382 76.9006 6.94354C81.3789 8.61786 86.2933 13.2988 90.018 18.3818C90.3713 21.1129 90.3891 24.1649 91.9322 28.1586C93.9647 33.4069 95.3781 36.4054 96.7023 37.4184C97.0248 48.4288 93.8918 62.3517 87.0373 66.5302ZM85.7584 44.8791C87.0259 44.8791 88.201 44.5242 89.2027 43.9391C87.6777 45.3678 85.6632 46.1579 83.5735 46.1466C79.2021 46.1466 75.646 42.8126 75.646 38.7184C75.646 34.6241 79.2005 31.2885 83.5735 31.2885C85.7746 31.2885 87.7683 32.1362 89.2059 33.4977C88.1611 32.8823 86.971 32.5572 85.7584 32.5559C82.1375 32.5559 79.2038 35.3162 79.2038 38.7184C79.2038 42.1205 82.1375 44.8791 85.7584 44.8791ZM39.884 32.5576C38.6149 32.5576 37.4414 32.9125 36.4381 33.4993C37.9619 32.0685 39.977 31.2776 42.0672 31.2901C46.4386 31.2901 49.9964 34.6241 49.9964 38.72C49.9964 42.8158 46.4403 46.1483 42.0672 46.1483C39.9776 46.1595 37.963 45.3694 36.4381 43.9407C37.4414 44.5258 38.6149 44.8808 39.884 44.8808C43.5033 44.8808 46.4354 42.1237 46.4354 38.72C46.4354 35.3162 43.5033 32.5576 39.884 32.5576Z" fill="#0D0D0D"/>
                        <path d="M53.0839 50.0138L51.6268 48.6475L50.1713 50.0171L51.6268 51.3834L53.0839 50.0138ZM49.6154 53.779L48.1599 52.4094L46.7043 53.779L48.1599 55.1486L49.6154 53.779ZM51.2637 55.1486L52.7176 56.5182L54.1748 55.1486L52.7176 53.779L51.2637 55.1486ZM78.9362 53.779L77.4807 52.4094L76.0236 53.779L77.4807 55.1486L78.9362 53.779ZM75.4693 50.0171L74.0138 48.6475L72.5583 50.0138L74.0138 51.3834L75.4693 50.0171ZM74.3784 55.1486L72.9213 53.779L71.4658 55.1486L72.9213 56.5182L74.3784 55.1486Z" fill="#0D0D0D"/>
                        <path d="M36.3334 107C36.3334 106.713 36.2193 106.437 36.0161 106.234C35.813 106.031 35.5374 105.917 35.2501 105.917C34.9628 105.917 34.6872 106.031 34.484 106.234C34.2809 106.437 34.1667 106.713 34.1667 107H36.3334ZM25.5001 98.3334C25.7874 98.3334 26.0629 98.2193 26.2661 98.0161C26.4693 97.8129 26.5834 97.5374 26.5834 97.2501C26.5834 96.9628 26.4693 96.6872 26.2661 96.484C26.0629 96.2809 25.7874 96.1667 25.5001 96.1667V98.3334ZM33.6251 115.667H17.3751V117.833H33.6251V115.667ZM16.8334 115.125V98.8751H14.6667V115.125H16.8334ZM34.1667 107V115.125H36.3334V107H34.1667ZM17.3751 98.3334H25.5001V96.1667H17.3751V98.3334ZM17.3751 115.667C17.2314 115.667 17.0936 115.61 16.9921 115.508C16.8905 115.407 16.8334 115.269 16.8334 115.125H14.6667C14.6667 115.843 14.9521 116.532 15.46 117.04C15.9679 117.548 16.6568 117.833 17.3751 117.833V115.667ZM33.6251 117.833C34.3434 117.833 35.0323 117.548 35.5402 117.04C36.0481 116.532 36.3334 115.843 36.3334 115.125H34.1667C34.1667 115.269 34.1097 115.407 34.0081 115.508C33.9065 115.61 33.7687 115.667 33.6251 115.667V117.833ZM16.8334 98.8751C16.8334 98.7314 16.8905 98.5936 16.9921 98.4921C17.0936 98.3905 17.2314 98.3334 17.3751 98.3334V96.1667C16.6568 96.1667 15.9679 96.4521 15.46 96.96C14.9521 97.4679 14.6667 98.1568 14.6667 98.8751H16.8334Z" fill="#0D0D0D"/>
                        <path d="M15.75 112.958L21.542 107.649C21.7373 107.47 21.9913 107.369 22.256 107.364C22.5208 107.36 22.778 107.453 22.9791 107.625L29.8333 113.5M27.6667 110.792L30.252 108.206C30.4364 108.022 30.6812 107.91 30.9415 107.891C31.2017 107.873 31.4598 107.949 31.6685 108.106L35.25 110.792M32.5417 103.75V97.25M32.5417 97.25L29.8333 99.9583M32.5417 97.25L35.25 99.9583" stroke="#0D0D0D" stroke-width="2.16667" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg></div>
                    <span>Sube una imagen</span>    
                    <p>Máximo 3 fotos por bordado. Formatos aceptados: JPG y PNG.</p>
                </div>
                <div class="step" id="step4">
                    <h4>4. Finaliza tu compra</h4>
                    <div class="step-icon"><svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 100 100" fill="none">
                        <path d="M47.9166 87.5002H35.725C32.7391 87.5 29.852 86.4311 27.5859 84.4868C25.3199 82.5425 23.8246 79.8513 23.3708 76.9002L18.1416 42.9335C17.959 41.7459 18.0353 40.5329 18.3654 39.3776C18.6955 38.2223 19.2715 37.152 20.0539 36.2402C20.8363 35.3283 21.8067 34.5965 22.8985 34.0947C23.9902 33.593 25.1776 33.3334 26.3791 33.3335H73.625C74.8265 33.3334 76.0138 33.593 77.1056 34.0947C78.1974 34.5965 79.1678 35.3283 79.9502 36.2402C80.7326 37.152 81.3086 38.2223 81.6387 39.3776C81.9688 40.5329 82.0451 41.7459 81.8625 42.9335L79.7791 56.4668" stroke="#0D0D0D" stroke-width="8.33333" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M37.5 45.8333V25C37.5 21.6848 38.817 18.5054 41.1612 16.1612C43.5054 13.817 46.6848 12.5 50 12.5C53.3152 12.5 56.4946 13.817 58.8388 16.1612C61.183 18.5054 62.5 21.6848 62.5 25V45.8333" stroke="#0D0D0D" stroke-width="8.33333" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M59.5 74.5L69 88.5L90.5 67.5" stroke="#CDDA71" stroke-width="10" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg></div>
                        <span>Compra</span>
                    <p>Te enviaremos un correo de confirmación una vez se complete tu compra.</p>
                </div>
                <div class="step" id="step5">
                    <h4>5. Digitalizamos tu imagen</h4>
                    <div class="step-icon"><svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 82 82" fill="none">
                        <path d="M55.9694 23.2527C55.9694 24.2376 55.7754 25.2129 55.3985 26.1228C55.0215 27.0328 54.4691 27.8595 53.7727 28.556C53.0762 29.2524 52.2494 29.8049 51.3395 30.1818C50.4295 30.5587 49.4543 30.7527 48.4694 30.7527C47.4844 30.7527 46.5092 30.5587 45.5992 30.1818C44.6893 29.8049 43.8625 29.2524 43.1661 28.556C42.4696 27.8595 41.9172 27.0328 41.5403 26.1228C41.1634 25.2129 40.9694 24.2376 40.9694 23.2527C40.9694 21.2636 41.7595 19.3559 43.1661 17.9494C44.5726 16.5429 46.4802 15.7527 48.4694 15.7527C50.4585 15.7527 52.3661 16.5429 53.7727 17.9494C55.1792 19.3559 55.9694 21.2636 55.9694 23.2527ZM50.9694 23.2527C50.9694 22.5896 50.706 21.9538 50.2371 21.4849C49.7683 21.0161 49.1324 20.7527 48.4694 20.7527C47.8063 20.7527 47.1704 21.0161 46.7016 21.4849C46.2327 21.9538 45.9694 22.5896 45.9694 23.2527C45.9694 23.9157 46.2327 24.5516 46.7016 25.0205C47.1704 25.4893 47.8063 25.7527 48.4694 25.7527C49.1324 25.7527 49.7683 25.4893 50.2371 25.0205C50.706 24.5516 50.9694 23.9157 50.9694 23.2527ZM0.96936 15.7527C0.96936 11.7744 2.54971 7.95913 5.36276 5.14608C8.1758 2.33304 11.9911 0.752686 15.9694 0.752686H55.9694C59.9476 0.752686 63.7629 2.33304 66.576 5.14608C69.389 7.95913 70.9694 11.7744 70.9694 15.7527V30.7677C69.2644 30.8477 67.5694 31.2277 65.9694 31.9127V15.7527C65.9694 13.1005 64.9158 10.557 63.0404 8.68162C61.1651 6.80625 58.6215 5.75269 55.9694 5.75269H15.9694C13.3172 5.75269 10.7737 6.80625 8.89829 8.68162C7.02293 10.557 5.96936 13.1005 5.96936 15.7527V59.8827C5.97017 60.0793 6.02891 60.2712 6.13822 60.4346C6.24753 60.598 6.40257 60.7256 6.58397 60.8013C6.76536 60.8771 6.96506 60.8977 7.1581 60.8606C7.35115 60.8235 7.52898 60.7303 7.66936 60.5927L11.7044 56.6127L11.6944 56.5977L16.9344 51.4477L17.9644 50.4377L30.7144 37.9127C32.1168 36.5355 34.0038 35.7639 35.9694 35.7639C37.9349 35.7639 39.8219 36.5355 41.2244 37.9127L49.9494 46.4827L46.4144 50.0227L37.7194 41.4777C37.252 41.0196 36.6237 40.763 35.9694 40.763C35.315 40.763 34.6867 41.0196 34.2194 41.4777L20.4394 55.0127L11.1844 64.1527C7.39436 67.8927 0.96936 65.2027 0.96936 59.8827V15.7527ZM2.96936 70.9277C4.81436 71.8477 7.11936 72.6027 9.05436 72.1777C10.3094 71.8977 11.9394 71.2127 13.7694 70.4427C18.1944 68.5777 23.7844 66.2277 28.0794 67.9577C31.2644 69.2377 30.9994 72.8627 30.1044 74.6077C29.9294 74.9377 30.0644 75.4077 30.4294 75.4927C32.258 75.8643 34.125 76.0121 35.9894 75.9327C36.0111 75.6969 36.0495 75.463 36.1044 75.2327L37.9794 67.7427C38.4637 65.8126 39.4625 64.05 40.8694 62.6427L65.0194 38.4927C65.8853 37.6136 66.9166 36.9146 68.054 36.436C69.1914 35.9573 70.4122 35.7086 71.6461 35.7041C72.8801 35.6995 74.1027 35.9393 75.2436 36.4095C76.3844 36.8797 77.4209 37.5711 78.2933 38.4438C79.1656 39.3165 79.8566 40.3532 80.3264 41.4943C80.7962 42.6353 81.0355 43.858 81.0305 45.092C81.0255 46.3259 80.7763 47.5467 80.2972 48.6838C79.8182 49.821 79.1188 50.8521 78.2394 51.7177L54.0894 75.8627C52.6821 77.2696 50.9195 78.2684 48.9894 78.7527L42.8794 80.2777C37.2744 81.9177 28.9094 81.3877 26.3144 79.3627C24.0694 77.6127 23.9794 74.9277 24.7344 73.1427C24.9044 72.7427 24.6044 72.2277 24.1794 72.2927C21.7044 72.6427 19.6794 73.5427 17.6794 74.4277C14.7544 75.7277 11.8994 76.9927 7.79936 76.4827C4.24436 76.0427 2.26436 74.1877 1.17436 72.3577C0.56436 71.3377 1.90436 70.3977 2.96936 70.9277Z" fill="#0D0D0D"/>
                        </svg></div>
                    <span>Aprueba</span>    
                    <p>Una vez digitalizada tu imagen, te enviaremos el diseño para que lo apruebes antes del bordado.</p>
                </div>
                <div class="step" id="step6">
                    <h4>6. Enviamos tu producto</h4>
                    <div class="step-icon"><svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100" fill="none">
                        <path d="M3.125 31.2501H43.75L46.875 37.5001H6.25L3.125 31.2501ZM7.29167 43.7501H47.9167L51.0417 50.0001H10.4167L7.29167 43.7501ZM75 77.0834C78.4583 77.0834 81.25 74.2917 81.25 70.8334C81.25 67.3751 78.4583 64.5834 75 64.5834C71.5417 64.5834 68.75 67.3751 68.75 70.8334C68.75 74.2917 71.5417 77.0834 75 77.0834ZM81.25 39.5834H70.8333V50.0001H89.4167L81.25 39.5834ZM33.3333 77.0834C36.7917 77.0834 39.5833 74.2917 39.5833 70.8334C39.5833 67.3751 36.7917 64.5834 33.3333 64.5834C29.875 64.5834 27.0833 67.3751 27.0833 70.8334C27.0833 74.2917 29.875 77.0834 33.3333 77.0834ZM83.3333 33.3334L95.8333 50.0001V70.8334H87.5C87.5 77.7501 81.9167 83.3334 75 83.3334C68.0833 83.3334 62.5 77.7501 62.5 70.8334H45.8333C45.8333 77.7501 40.2083 83.3334 33.3333 83.3334C26.4167 83.3334 20.8333 77.7501 20.8333 70.8334H12.5V56.2501H20.8333V62.5001H24C26.2917 59.9584 29.625 58.3334 33.3333 58.3334C37.0417 58.3334 40.375 59.9584 42.6667 62.5001H62.5V25.0001H12.5C12.5 20.3751 16.2083 16.6667 20.8333 16.6667H70.8333V33.3334H83.3333Z" fill="#0D0D0D"/>
                        </svg></div>
                    <span>Recibe</span>    
                    <p>Los tiempos de envío pueden llegar hasta 10 días hábiles.</p>
                </div>
            </div>
        </div>
        <!-- Botones de navegación para avanzar y retroceder entre pasos -->
        <button class="nav-button prev" aria-label="Anterior">&#9664;</button>
        <button class="nav-button next" aria-label="Siguiente">&#9654;</button>
    </div>
</section>

<style>

    section{
        padding-bottom: 40px;
        
        border-bottom: 2px solid var(--lime-green);
    }
    .container {
        max-width: 75vw; /* Ancho máximo del contenedor */
        margin: 0 auto; /* Centrar el contenedor */
        padding: 4px; /* Espaciado interno */
        position: relative;
 /* Posicionamiento relativo para elementos hijos */
    }
    h3 {
        padding: 40px;
        text-align: center; /* Centrar el título */
        color: var(--dark-gray); /* Color del texto del título */
        margin-bottom: 0;
    }
    h4{
        text-transform: uppercase;
        margin: 0;
    }

    p{
        margin: 0;
    }
    /* Estilos para pantallas grandes */
    .instructions {
        display: grid; /* Usar grid para mostrar los pasos */
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr)); /* Colocar pasos en columnas */
        gap: 36px; /* Espacio entre columnas */
    }
    .step {
        
        display: flex;
        height: 220px;
        padding: 8px;
        flex-direction: column;
        justify-content: space-evenly; /* Distribuye los hijos con espacio entre ellos */
        align-items: center; /* Centra los hijos horizontalmente */ 
        border-radius: 25px; /* Bordes redondeados */ 
        text-align: center; /* Centrar el texto */
        transition: transform 0.3s ease; /* Transición para el efecto hover */
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1); /* Sombra alrededor del paso */
        
    }
    
 
            /* Estilos específicos para cada paso */
#step6 {
    background-color: rgba(205, 218, 113, 0.78); 
}

#step5 {
    background-color: rgba(205, 218, 113, 0.66); 
}

#step4 {
    background-color: rgba(205, 218, 113, 0.54); 
}

#step3 {
    
    background-color: rgba(205, 218, 113, 0.42); 
}

#step2 {
    background-color: rgba(205, 218, 113, 0.36);  
}

#step1 {
    background-color: rgba(205, 218, 113, 0.30); 
}
    .step:hover {
        transform: translateY(-8px); /* Efecto de elevación al pasar el mouse */
    }
    h3 {
        margin-top: 0; /* Sin margen superior en el título del paso */
        color: var(--dark-gray); /* Color del título del paso */
    }
    .step-icon {
        
        margin: 0; /* Espacio inferior del ícono */
    }
    .nav-button {
        display: none; /* Ocultar botones de navegación en pantallas grandes */
    }

    /* Estilos para pantallas pequeñas (móviles) */
    @media (max-width: 768px) {
        section{
        padding-bottom: 60px;
       
    }
        .container {
            max-width: 100vw;
            
            overflow: hidden; /* Evitar desbordamientos */
        }
        .scroll-container {
            height: min-content;
            overflow-x: auto; /* Habilitar desplazamiento horizontal */
            scroll-snap-type: x mandatory; /* Habilitar scroll snap */
            -webkit-overflow-scrolling: touch; /* Desplazamiento suave en iOS */
            scrollbar-width: none; /* Ocultar scrollbar en navegadores que lo soportan */
            -ms-overflow-style: none; /* Ocultar scrollbar en IE */
        }
        .scroll-container::-webkit-scrollbar {
            display: none; /* Ocultar scrollbar en Chrome/Safari */
        }
        .instructions {
            display: flex; /* Usar flexbox para instrucciones en móviles */
            width: 600%;
            height: 100%;
            margin: 10px; /* Ampliar el contenedor para incluir todos los pasos */
        }
        .step {
            height: 250px;
            background-color: var(--dark-gray); /* Default background */
            flex: 0 0 13%; /* Cada paso ocupa 1/6 del ancho total */
            scroll-snap-align: center; /* Alinear el inicio de cada paso al scroll */
            opacity: 0.7; /* Opacidad inicial de los pasos */
            transform: scale(0.95); /* Escalar los pasos hacia abajo */
            transition: opacity 0.3s ease, transform 0.3s ease; /* Transiciones suaves para los pasos */
        }

        .step.active {
            opacity: 1; /* Opacidad total para el paso activo */
            transform: scale(1); /* Escalar al tamaño original para el paso activo */
        }
        .nav-button {
            display: block; /* Mostrar botones de navegación en móviles */
            position: absolute; /* Posicionamiento absoluto para los botones */
            top: 50%; /* Centrar verticalmente los botones */
            transform: translateY(-50%); /* Ajustar la posición vertical */
            background-color: rgba(0, 0, 0, 0.3); /* Fondo semitransparente */
            color: var(--white-smoke); /* Color del texto del botón */
            border: none; /* Sin borde */
            padding: 10px; /* Relleno interno del botón */
            font-size: 18px; /* Tamaño de fuente del botón */
            cursor: pointer; /* Cambiar cursor al pasar sobre el botón */
            z-index: 10; /* Asegurar que el botón esté por encima de otros elementos */
            border-radius: 50%; /* Bordes redondeados del botón */
            width: 40px; /* Ancho fijo del botón */
            height: 40px; /* Altura fija del botón */
            display: flex; /* Usar flexbox para centrar contenido del botón */
            justify-content: center; /* Centrar horizontalmente */
            align-items: center; /* Centrar verticalmente */
            transition: background-color 0.3s ease; /* Transición suave para el fondo */
        }
        .nav-button:hover {
            background-color: rgba(0, 0, 0, 0.5); /* Cambiar fondo al pasar el mouse */
        }
        .nav-button.prev {
            left: 10px; /* Posición del botón anterior */
        }
        .nav-button.next {
            right: 10px; /* Posición del botón siguiente */
        }
    }
</style>

<script>
// Interfaz para elementos HTML con la propiedad offsetLeft
document.addEventListener('DOMContentLoaded', () => {
    const scrollContainer = document.querySelector('.scroll-container') as HTMLElement; // Contenedor para desplazamiento
    const steps = document.querySelectorAll('.step') as NodeListOf<HTMLElement>; // Seleccionar todos los pasos
    const prevButton = document.querySelector('.nav-button.prev') as HTMLButtonElement; // Botón anterior
    const nextButton = document.querySelector('.nav-button.next') as HTMLButtonElement; // Botón siguiente
    let currentStep = 0; // Paso actual

    // Actualizar el paso activo basado en el índice
    function updateActiveStep(): void {
        steps.forEach((step, index) => {
            step.classList.toggle('active', index === currentStep); // Añadir clase 'active' si es el paso actual
        });
    }

    // Mover a un paso específico
    function moveToStep(step: number): void {
        currentStep = step; // Actualizar el paso actual
        const targetStep = steps[currentStep]; // Seleccionar el paso objetivo
        scrollContainer.scrollTo({
            left: targetStep.offsetLeft, // Desplazarse al paso objetivo
            behavior: 'smooth' // Animación suave
        });
        updateActiveStep(); // Actualizar el paso activo
    }

    // Manejar el cambio de tamaño de la ventana
    function handleResize(): void {
        if (window.innerWidth <= 768) { // Solo para móviles
            scrollContainer.addEventListener('scroll', handleScroll); // Agregar evento de desplazamiento
            prevButton.addEventListener('click', handlePrevClick); // Evento para botón anterior
            nextButton.addEventListener('click', handleNextClick); // Evento para botón siguiente
            updateActiveStep(); // Inicializar el paso activo
        } else {
            // Eliminar eventos si el tamaño de la ventana es mayor a 768px
            scrollContainer.removeEventListener('scroll', handleScroll);
            prevButton.removeEventListener('click', handlePrevClick);
            nextButton.removeEventListener('click', handleNextClick);
            steps.forEach(step => step.classList.remove('active')); // Eliminar clase 'active'
        }
    }

    // Manejar el desplazamiento del contenedor
    function handleScroll(): void {
        const scrollPosition = scrollContainer.scrollLeft; // Posición de desplazamiento
        const stepWidth = steps[0].offsetWidth; // Ancho de un paso
        const newStep = Math.round(scrollPosition / stepWidth); // Calcular el nuevo paso basado en la posición de desplazamiento
        if (newStep !== currentStep) {
            currentStep = newStep; // Actualizar el paso actual
            updateActiveStep(); // Actualizar el paso activo
        }
    }

    // Manejar clic en el botón anterior
    function handlePrevClick(): void {
        if (currentStep > 0) moveToStep(currentStep - 1); // Mover al paso anterior si no está en el primero
    }

    // Manejar clic en el botón siguiente
    function handleNextClick(): void {
        if (currentStep < steps.length - 1) moveToStep(currentStep + 1); // Mover al siguiente paso si no está en el último
    }

    // Agregar evento para el cambio de tamaño de ventana
    window.addEventListener('resize', handleResize);
    handleResize(); // Inicializar en la carga
});

</script>
