---
import BotonAction from "./BotonAction.astro";

// Section-calidad.astro
---

<section class="quality-section">
    <div class="features-container">
      <div class="feature">
        <svg xmlns="http://www.w3.org/2000/svg" width="96" height="96" viewBox="0 0 96 96" fill="none">
            <path d="M11.0415 3.92105C10.9542 3.92012 10.8674 3.92365 10.7804 3.92662C10.6642 3.93095 10.5483 3.93874 10.4325 3.94999C9.04682 4.08359 7.70829 4.71964 6.29294 6.0142C4.44025 7.70788 3.90625 9.29096 4.1764 11.1572C4.44637 13.0231 5.72628 15.283 8.09608 17.6339C8.63324 18.1668 9.23274 18.6984 9.87603 19.2342C10.1117 19.43 10.352 19.6294 10.601 19.8254C10.8118 19.992 11.0245 20.1562 11.2389 20.3182C11.2819 20.3507 11.3231 20.3846 11.3665 20.4169C14.3622 22.6505 18.2305 24.8585 22.812 26.8884C52.4481 56.819 76.4007 82.0984 92.3167 92.2239C82.8334 76.3367 57.5393 52.4019 27.3753 22.5453C25.4772 18.1289 23.4575 14.4351 21.4204 11.5457C27.9999 9.65501 36.7312 11.1201 44.7529 19.142C52.2199 26.6088 54.5205 35.9852 52.4299 42.9557C53.3372 43.8674 54.2637 44.795 55.1552 45.6925C58.6936 37.1388 56.0037 25.4874 47.2057 16.6891C40.5827 10.0664 33.2006 7.35163 26.604 7.37092C26.3912 7.37185 26.1773 7.37649 25.9661 7.3828C21.913 7.5034 18.1811 8.6627 15.1406 10.5718C14.6089 10.9056 14.0942 11.2656 13.5983 11.6506C13.8451 12.2246 14.11 12.7423 14.4158 13.1754C14.7721 13.6801 15.1587 14.0912 15.6972 14.4163C16.1058 14.0977 16.5318 13.7901 16.9845 13.506C17.1829 13.3799 17.384 13.258 17.5875 13.1405C19.1083 15.0123 20.457 17.7094 22.3134 21.9076C17.8776 19.9467 15.1101 18.5603 13.2155 16.8978C13.22 16.8923 13.2229 16.8861 13.2274 16.8806C13.147 16.8193 13.0665 16.759 12.9899 16.695C12.9877 16.6934 12.9856 16.6916 12.9838 16.6895C10.9028 14.7644 9.9163 12.4341 8.84421 8.43262C9.95526 8.73042 10.9327 9.02452 11.813 9.33141C13.3537 8.16358 15.0227 7.17534 16.7875 6.38585C15.0248 4.95009 13.3452 4.17228 11.836 3.97931C11.5682 3.94499 11.3034 3.92346 11.0415 3.92105ZM92.0265 12.4443C77.5567 12.4443 68.7243 17.804 64.9137 25.3224C61.1031 32.8408 62.3171 42.094 66.7113 49.7046C68.8237 53.3635 70.0153 57.2539 70.2714 61.0637C71.4174 62.2469 72.5597 63.4336 73.6984 64.6238C74.127 59.0658 72.7573 53.2405 69.7147 47.971C65.7941 41.1796 64.8617 33.1065 68.0103 26.894C71.1588 20.6815 78.3898 15.9118 92.0269 15.9118V12.4447L92.0265 12.4443ZM7.5335 21.8263C6.99653 26.2655 8.68018 31.1426 13.0131 35.4755L15.4656 33.0285C12.5024 30.0653 11.1632 27.122 10.9314 24.3833C9.69828 23.5465 8.56496 22.6945 7.53332 21.8261L7.5335 21.8263ZM23.5193 51.8964C18.9797 51.8912 15.1623 52.8093 12.1373 54.4303C7.52794 56.8999 4.83361 61.0849 4.57626 65.6503C4.06044 74.7805 12.8108 84.6967 30.628 87.5968C49.4851 90.6664 62.2272 85.8927 68.7404 77.5657C68.9276 77.3266 69.1094 77.085 69.2859 76.841C68.4413 76.0557 67.5885 75.2601 66.7285 74.4521C66.4997 74.7842 66.2609 75.1107 66.0095 75.4317C60.4487 82.541 49.2444 87.1156 31.1848 84.1758C14.4125 81.4455 7.65819 72.5741 8.03782 65.847C8.22763 62.4835 10.0755 59.4697 13.7783 57.4858C17.4809 55.502 23.1052 54.6351 30.5703 56.0998C36.8931 57.3411 42.2482 56.7436 46.4228 54.8128C45.547 53.9501 44.662 53.0817 43.7732 52.2033C40.5178 53.4005 36.3718 53.704 31.2369 52.6961C28.4732 52.1538 25.8973 51.8988 23.5193 51.896V51.8964Z" fill="#263dbf"/>
        </svg>
        <p>Materiales de la más alta calidad</p>
      </div>
      <div class="feature">
        <svg xmlns="http://www.w3.org/2000/svg" width="101" height="101" viewBox="0 0 101 101" fill="none">
            <path d="M50.5 67.5963C57.7618 61.0205 62.4025 56.4414 64.4221 53.8589C66.4383 51.2765 67.4464 48.6871 67.4464 46.0907C67.4464 43.5672 66.5252 41.3938 64.6829 39.5704C62.837 37.7471 60.6366 36.8355 58.0816 36.8355C56.5242 36.8355 55.0764 37.1336 53.7381 37.7298C52.3997 38.326 51.3204 39.1475 50.5 40.1944C49.6588 39.1441 48.5707 38.3225 47.2359 37.7298C45.9045 37.1336 44.4653 36.8355 42.9184 36.8355C40.3912 36.8355 38.1995 37.7454 36.3432 39.5652C34.4835 41.3851 33.5536 43.5603 33.5536 46.0907C33.5536 47.4253 33.7326 48.6559 34.0906 49.7825C34.4487 50.909 35.2378 52.2263 36.4579 53.7342C37.6781 55.242 39.3936 57.0862 41.6044 59.2665C43.8153 61.4469 46.7805 64.2235 50.5 67.5963ZM50.5 96.9896C40.0262 93.8906 31.3236 87.5645 24.3921 78.0111C17.4606 68.4577 13.9965 57.6928 14 45.7164V17.5969L50.5 4L87 17.5969V45.7164C87 57.6893 83.536 68.4525 76.6079 78.0059C69.6799 87.5593 60.9772 93.8906 50.5 97M50.5 91.478C59.5381 88.6182 67.0119 82.8987 72.9214 74.3194C78.8309 65.74 81.7857 56.2074 81.7857 45.7216V21.1483L50.5 9.55317L19.2143 21.1483V45.7164C19.2143 56.2022 22.169 65.7348 28.0786 74.3142C33.9881 82.8935 41.4619 88.6182 50.5 91.478Z" fill="#263dbf"/>
            </svg>
        <p>Productos con garantía de calidad</p>
      </div>
      <div class="feature">
        <svg xmlns="http://www.w3.org/2000/svg" width="105" height="104" viewBox="0 0 105 104" fill="none">
            <path d="M20.5729 7.36887L41.2792 15.6376C41.8258 15.8561 42.2718 16.2699 42.5307 16.7986C42.7896 17.3273 42.8429 17.9333 42.6802 18.4991L36.649 39.4605C36.5005 39.9768 36.2396 40.4538 35.8851 40.8574C35.5306 41.2609 35.0911 41.5811 34.5983 41.7948C34.1055 42.0086 33.5715 42.1106 33.0346 42.0937C32.4976 42.0768 31.9711 41.9413 31.4927 41.697L8.70315 30.0626C8.07695 29.7428 7.52795 29.2904 7.09433 28.7368C6.66072 28.1833 6.3529 27.5419 6.19229 26.8574C6.03169 26.1728 6.02215 25.4615 6.16434 24.7729C6.30653 24.0842 6.59703 23.4349 7.01565 22.8699L17.9479 8.1147C18.2419 7.71817 18.6588 7.43007 19.1336 7.29534C19.6085 7.16061 20.1146 7.18579 20.5729 7.36887Z" 
            stroke="#e3416f" 
            stroke-width="2.08333" 
            stroke-linecap="round" 
            stroke-linejoin="round" 
            fill="#e3416f"/> 
        
        <path d="M9.85838 15.0469L26.4584 6.55212C27.0117 6.26842 27.6439 6.17757 28.2548 6.294C28.8656 6.41043 29.4201 6.72747 29.8302 7.19483L44.0938 23.4146C44.4304 23.7973 44.6121 24.2917 44.6034 24.8013C44.5948 25.3108 44.3963 25.7988 44.0469 26.1698L28.4855 42.698C28.1488 43.0553 27.738 43.3346 27.2819 43.5163C26.8259 43.6981 26.3355 43.7778 25.8454 43.7499C25.3552 43.722 24.8771 43.5872 24.4446 43.3549C24.0121 43.1226 23.6357 42.7985 23.3417 42.4052L8.20838 22.148C7.79287 21.5918 7.50375 20.9517 7.3612 20.2722C7.21864 19.5928 7.22607 18.8905 7.38299 18.2142C7.5399 17.538 7.84251 16.9041 8.26969 16.3569C8.69688 15.8096 9.23834 15.3622 9.85629 15.0459L9.85838 15.0469Z" 
            stroke="#60bfcc" 
            stroke-width="2.08333" 
            stroke-linecap="round" 
            stroke-linejoin="round" 
            fill="#60bfccBf"/> 
            <g clip-path="url(#clip0_76_414)">
            <path d="M101 41.6668H57.6668C56.7828 41.6668 55.9349 41.3156 55.3098 40.6905C54.6847 40.0654 54.3335 39.2176 54.3335 38.3335V11.6668C54.3335 10.7828 54.6847 9.93493 55.3098 9.30981C55.9349 8.68469 56.7828 8.3335 57.6668 8.3335H101C101.884 8.3335 102.732 8.68469 103.357 9.30981C103.982 9.93493 104.333 10.7828 104.333 11.6668V38.3335C104.333 39.2176 103.982 40.0654 103.357 40.6905C102.732 41.3156 101.884 41.6668 101 41.6668ZM79.1113 28.8363L78.6127 31.9613C79.8865 32.4993 81.2628 32.7511 82.6446 32.6988H82.6293C84.2484 32.7929 85.8516 32.3362 87.1779 31.4029L87.1543 31.4182C87.6954 31.0199 88.1354 30.5 88.4389 29.9006C88.7423 29.3011 88.9008 28.6387 88.9016 27.9668V27.946C88.9016 26.4182 87.8793 25.1502 85.864 24.1696C85.3143 23.9039 84.7883 23.5917 84.2918 23.2363L84.3238 23.2585C84.1848 23.1691 84.0692 23.0478 83.9864 22.9049C83.9035 22.7619 83.8559 22.6013 83.8474 22.4363V22.4335C83.8583 22.2616 83.9122 22.0952 84.0042 21.9496C84.0961 21.804 84.2232 21.6838 84.3738 21.6002L84.3793 21.5974C84.8454 21.3281 85.3812 21.2039 85.9182 21.2404H85.9099H86.021L86.1279 21.2391C87.0224 21.2391 87.871 21.4321 88.6363 21.7779L88.5974 21.7627L88.9224 21.9363L89.421 18.921C88.413 18.5287 87.3401 18.3299 86.2585 18.3349H86.1904H86.1946C84.6297 18.2667 83.0868 18.7222 81.8099 19.6293L81.8321 19.6141C81.3013 19.9885 80.8681 20.4849 80.5692 21.0616C80.2702 21.6383 80.1141 22.2784 80.1141 22.9279V22.9349C80.1002 24.4043 81.1585 25.6738 83.2613 26.7127C83.8168 26.9557 84.296 27.2529 84.7252 27.6099L84.7154 27.6016C84.839 27.706 84.9395 27.835 85.0105 27.9804C85.0815 28.1258 85.1215 28.2843 85.1279 28.446V28.4515C85.1279 28.8946 84.864 29.2752 84.4835 29.446L84.4765 29.4488C84.0599 29.6682 83.5654 29.796 83.0404 29.796H82.9765H82.9793H82.8752C81.6849 29.796 80.5571 29.5321 79.546 29.0599L79.5946 29.0807L79.1182 28.8418L79.1113 28.8363ZM93.1738 30.421H97.7779C97.852 30.7386 97.9969 31.433 98.2127 32.5043H101.556L98.6474 18.5724H95.8696C95.4724 18.5363 95.0741 18.6297 94.7344 18.8388C94.3946 19.0478 94.1317 19.3612 93.9849 19.7321L93.9807 19.7446L88.6474 32.5043H92.4252L93.1835 30.4224L93.1738 30.421ZM75.0154 18.5724L72.7571 32.5043H76.3599L78.6168 18.5724H75.0154ZM61.1696 21.4154L64.1002 32.4821H67.8974L73.5571 18.5724H69.7432L66.2238 28.0779L65.8543 26.146L64.5988 19.7446C64.5321 19.3751 64.3242 19.046 64.019 18.8272C63.7138 18.6083 63.3355 18.517 62.9641 18.5724L62.9724 18.571H57.1571L57.1141 18.8529C61.5918 19.9904 64.5335 22.4446 65.8585 26.1446C65.4529 25.0866 64.8248 24.1279 64.0168 23.3335L64.0154 23.3321C63.223 22.5183 62.2751 21.8722 61.2279 21.4321L61.1724 21.4113L61.1696 21.4154ZM97.1932 27.5557H94.1932C94.396 27.0205 94.8738 25.7242 95.6266 23.6668L95.6904 23.471L95.9127 22.9071C96.0025 22.6756 96.0673 22.4877 96.1071 22.3432L96.3682 23.5363L97.1918 27.5502L97.1932 27.5557Z" fill="#263dbf"/>
            </g>
            <path d="M13.9188 67.526C22.6115 64.0885 27.3948 63.1458 36.3563 62M5.83337 85.9208C14.7948 79.7208 29.2813 76.0823 44.375 74.6677M19.7136 96.3646C27.3282 92.1875 36.1542 90.2323 44.375 88.8854" stroke="#263dbf" stroke-width="2.08333" stroke-linecap="round" stroke-linejoin="round"/>
            <g clip-path="url(#clip1_76_414)">
            <path d="M101 95.6668H57.6668C56.7828 95.6668 55.9349 95.3156 55.3098 94.6905C54.6847 94.0654 54.3335 93.2176 54.3335 92.3335V65.6668C54.3335 64.7828 54.6847 63.9349 55.3098 63.3098C55.9349 62.6847 56.7828 62.3335 57.6668 62.3335H101C101.884 62.3335 102.732 62.6847 103.357 63.3098C103.982 63.9349 104.333 64.7828 104.333 65.6668V92.3335C104.333 93.2176 103.982 94.0654 103.357 94.6905C102.732 95.3156 101.884 95.6668 101 95.6668ZM93.8946 89.721H93.8752C93.6853 89.7218 93.4976 89.7615 93.3237 89.8378C93.1498 89.914 92.9934 90.025 92.8641 90.1641L92.8627 90.1654C92.589 90.4651 92.4374 90.8564 92.4376 91.2622C92.4379 91.6681 92.59 92.0591 92.8641 92.3585L92.8627 92.3571C93.1154 92.6307 93.4752 92.8016 93.8752 92.8016H93.8946C94.0736 92.8137 94.2514 92.7806 94.4142 92.7054C94.5771 92.6302 94.7184 92.5152 94.8252 92.371L94.8265 92.3682V92.7377H95.4557V88.6141H94.8265V90.1557C94.7235 90.0209 94.5909 89.9115 94.439 89.8359C94.2871 89.7604 94.1198 89.7206 93.9502 89.7196L93.8918 89.721H93.8946ZM87.9918 89.721H87.9599C87.5585 89.721 87.196 89.8877 86.939 90.1557C86.665 90.4596 86.5134 90.8544 86.5137 91.2636C86.5139 91.6729 86.666 92.0674 86.9404 92.371L86.939 92.3696C87.1974 92.6377 87.5599 92.8043 87.9613 92.8043H87.9946L88.0557 92.8057C88.221 92.8058 88.3839 92.7665 88.5309 92.6911C88.678 92.6158 88.805 92.5065 88.9016 92.3724L88.9043 92.3696V92.739H89.5571V89.8085H88.9057V90.1557C88.8003 90.0143 88.6619 89.9008 88.5027 89.8251C88.3434 89.7493 88.168 89.7136 87.9918 89.721ZM85.1474 89.721L85.089 89.7196C84.6802 89.7196 84.288 89.882 83.9989 90.1712C83.7098 90.4603 83.5474 90.8524 83.5474 91.2613C83.5474 91.6701 83.7098 92.0623 83.9989 92.3514C84.288 92.6405 84.6802 92.8029 85.089 92.8029L85.1502 92.8016H85.1474L85.2043 92.8029C85.5793 92.8029 85.9224 92.6724 86.1932 92.4529L86.1904 92.4557L85.8863 91.9349C85.6842 92.0918 85.439 92.1829 85.1835 92.196H85.1807C85.0531 92.2041 84.9252 92.1851 84.8054 92.1401C84.6857 92.0951 84.5769 92.0251 84.4863 91.9349C84.3246 91.7479 84.2358 91.5089 84.236 91.2617C84.2363 91.0145 84.3256 90.7757 84.4877 90.5891L84.4863 90.5904C84.5649 90.5072 84.6599 90.441 84.7653 90.3961C84.8707 90.3511 84.9842 90.3284 85.0988 90.3293H85.1279H85.1266C85.4027 90.3302 85.6709 90.4225 85.889 90.5918L85.8863 90.5891L86.1904 90.0682C85.9031 89.8418 85.5479 89.719 85.1821 89.7196L85.1474 89.721ZM79.4807 89.721H79.446C79.2574 89.7213 79.0709 89.76 78.8978 89.8348C78.7247 89.9095 78.5686 90.0187 78.4391 90.1557C78.1596 90.4578 78.0113 90.8584 78.0266 91.2696V91.2668L78.0252 91.3307C78.0252 91.7404 78.1877 92.1127 78.4502 92.3849C78.7141 92.6474 79.0779 92.8085 79.4793 92.8085L79.5266 92.8071H79.5238L79.5807 92.8085C80.0154 92.8085 80.4127 92.6516 80.721 92.3918L80.7182 92.3946L80.4141 91.9182C80.181 92.1248 79.8811 92.2402 79.5696 92.2432C79.3583 92.2615 79.1466 92.1977 78.9811 92.065C78.8155 91.9323 78.7075 91.741 78.6793 91.5307V91.5265H80.871V91.2668C80.89 90.8568 80.7491 90.4555 80.4779 90.1474L80.4793 90.1488C80.3571 90.0138 80.2079 89.9058 80.0414 89.8319C79.8749 89.758 79.6948 89.7197 79.5127 89.7196H79.4821L79.4807 89.721ZM75.2071 89.8085V90.3946H75.8141V91.7196C75.8141 92.4391 76.1571 92.8043 76.8335 92.8043H76.8571C77.1377 92.8043 77.3974 92.721 77.6154 92.5793L77.6099 92.5821L77.4349 92.0391C77.2627 92.1364 77.0688 92.1889 76.871 92.1918C76.596 92.1918 76.4566 92.033 76.4557 91.7154V90.396H77.4974V89.8099H76.4557V88.921H75.8043V89.8099L75.2071 89.8085ZM72.4752 91.9335L72.1932 92.4335C72.5363 92.6654 72.9585 92.8029 73.4127 92.8029H73.4543H73.4516L73.5432 92.8057C73.8752 92.8057 74.1849 92.7071 74.4446 92.5377L74.4377 92.5418C74.5479 92.4668 74.6382 92.3659 74.7007 92.248C74.7631 92.1302 74.7958 91.9988 74.796 91.8654V91.846C74.7941 91.3571 74.4543 91.0691 73.7766 90.9793L73.4738 90.9349C73.1404 90.8775 72.9738 90.7766 72.9738 90.6321C72.9738 90.4154 73.1548 90.3071 73.5168 90.3071H73.5238C73.8641 90.3071 74.1835 90.396 74.4599 90.5515L74.4502 90.546L74.7113 90.0252C74.3495 89.8102 73.9332 89.7046 73.5127 89.721H73.5168L73.4418 89.7196C73.1479 89.7193 72.8615 89.8121 72.6238 89.9849L72.6279 89.9821C72.526 90.0606 72.4436 90.1616 72.3872 90.2773C72.3308 90.393 72.302 90.5201 72.3029 90.6488V90.6779V90.6765C72.3048 91.1525 72.6446 91.4344 73.3224 91.5224L73.6043 91.5668C73.9506 91.6252 74.1242 91.7266 74.1252 91.871C74.1261 92.1164 73.9016 92.2395 73.4516 92.2404H73.4391C73.0917 92.2412 72.7527 92.1334 72.4696 91.9321L72.4752 91.9363V91.9335ZM70.0002 89.7196H69.9654C69.7771 89.7201 69.5909 89.7589 69.418 89.8336C69.2451 89.9084 69.0893 90.0175 68.9599 90.1543C68.6925 90.4617 68.5453 90.8555 68.5456 91.2629C68.5458 91.6704 68.6935 92.0639 68.9613 92.371L68.9599 92.3696C69.0894 92.5066 69.2455 92.6158 69.4186 92.6906C69.5917 92.7653 69.7783 92.804 69.9668 92.8043H70.0029C70.182 92.8141 70.3593 92.7798 70.522 92.7045C70.6847 92.6292 70.8264 92.5152 70.9349 92.3724L70.9363 92.3696V92.739H71.5654V89.8085H70.9363V90.1557C70.8257 90.02 70.6863 89.9106 70.5283 89.8355C70.3702 89.7603 70.1974 89.7212 70.0224 89.721L70.0002 89.7196ZM90.4002 89.8071V92.7377H91.0293V91.0891C91.0293 90.5853 91.2391 90.3326 91.6585 90.3307H91.6724C91.8113 90.3316 91.939 90.3613 92.0557 90.4196L92.0502 90.4168L92.2446 89.8085C92.1147 89.7493 91.9734 89.7194 91.8307 89.721L91.7863 89.7224H91.7891H91.7654C91.6158 89.7217 91.4688 89.7613 91.3397 89.8371C91.2107 89.9128 91.1044 90.0219 91.0321 90.1529L91.0293 90.1571V89.8099L90.4002 89.8071ZM81.5252 89.8071V92.7377H82.1766V91.0891C82.1766 90.5853 82.3863 90.3326 82.8057 90.3307H82.8196C82.9585 90.3316 83.0863 90.3613 83.2029 90.4196L83.1974 90.4168L83.3932 89.8085C83.257 89.751 83.1106 89.7212 82.9627 89.721H82.9363H82.9127C82.7633 89.7206 82.6165 89.7603 82.4877 89.836C82.359 89.9118 82.2529 90.0208 82.1807 90.1516L82.1779 90.1557V89.8085L81.5252 89.8071ZM66.6807 90.3279C67.1141 90.3298 67.3312 90.5891 67.3321 91.1057V92.7335H67.9835V90.889L67.9849 90.8432C67.9844 90.5502 67.871 90.2687 67.6682 90.0571C67.4381 89.8438 67.1362 89.7248 66.8224 89.7238H66.8099C66.6096 89.71 66.4092 89.7507 66.2302 89.8417C66.0512 89.9327 65.9002 90.0705 65.7932 90.2404L65.7904 90.2446C65.6916 90.0755 65.5477 89.9372 65.3748 89.8452C65.2018 89.7532 65.0067 89.7112 64.8113 89.7238H64.8141H64.8016C64.6384 89.7235 64.4775 89.7626 64.3327 89.8378C64.1878 89.913 64.0633 90.0221 63.9696 90.1557L63.9668 90.1585V89.8113H63.3182V92.7418H63.9696V91.1113C63.9715 90.5928 64.2103 90.3335 64.6863 90.3335C65.1196 90.3353 65.3367 90.5946 65.3377 91.1113V92.739H65.9668V91.1113C65.9687 90.5928 66.2071 90.3335 66.6821 90.3335L66.6807 90.3279ZM86.1474 65.1113H86.1015C83.93 65.1099 81.8081 65.7612 80.0113 66.9807L80.0488 66.9571C81.862 68.4271 83.1957 70.4044 83.8793 72.6363L83.9016 72.7196C84.2293 73.7543 84.4168 74.9432 84.4168 76.1779C84.4168 77.3988 84.2321 78.5752 83.8904 79.6835L83.9127 79.6002C83.2451 81.8537 81.9047 83.8493 80.071 85.3196L80.0488 85.3377C81.8496 86.546 83.9705 87.1883 86.139 87.1821C87.6946 87.1821 89.1738 86.8585 90.514 86.2752L90.4432 86.3029C93.0696 85.2016 95.1649 83.1223 96.2863 80.5043L96.3127 80.4335C96.8682 79.1696 97.1918 77.696 97.1918 76.1474C97.1918 74.5988 96.8682 73.1252 96.2849 71.7918L96.3127 71.8613C95.2106 69.2322 93.1262 67.1368 90.5029 66.021L90.4321 65.9946C89.084 65.4114 87.6302 65.1121 86.1613 65.1154H86.146L86.1474 65.1113ZM72.5196 65.1113H72.5043C71.0106 65.1107 69.5329 65.419 68.1641 66.0168L68.2335 65.9891C65.5999 67.0839 63.4985 69.1649 62.3779 71.7877L62.3516 71.8585C61.796 73.1224 61.4724 74.596 61.4724 76.1446C61.4724 77.6932 61.796 79.1668 62.3793 80.5002L62.3516 80.4307C63.4529 83.0571 65.5322 85.1524 68.1502 86.2738L68.221 86.3002C69.4904 86.8557 70.971 87.1793 72.5252 87.1793C74.7092 87.1833 76.8443 86.5321 78.6543 85.3099L78.6154 85.3349C76.7924 83.8717 75.4535 81.8923 74.7738 79.6557L74.7529 79.5738C74.4174 78.4665 74.2484 77.3155 74.2516 76.1585C74.2495 74.4006 74.6383 72.6643 75.3896 71.0751C76.141 69.4859 77.2362 68.0836 78.596 66.9696L78.6168 66.9529C76.8304 65.7451 74.7219 65.1024 72.5654 65.1085H72.5154H72.5182L72.5196 65.1113ZM79.3335 67.4766C77.5789 68.8333 76.2831 70.6959 75.621 72.8127L75.6002 72.8891C75.2664 73.9491 75.0978 75.0541 75.1002 76.1654C75.1002 77.3238 75.2793 78.4391 75.6113 79.4877L75.5904 79.4099C76.2379 81.5494 77.5379 83.433 79.3085 84.7974L79.3335 84.8154C81.0976 83.4685 82.399 81.606 83.0571 79.4863L83.0779 79.4113C83.4074 78.361 83.5728 77.2662 83.5682 76.1654C83.5682 74.9946 83.3849 73.8682 83.0474 72.8099L83.0682 72.8877C82.4179 70.7501 81.1227 68.8659 79.3599 67.4932L79.3349 67.4752L79.3335 67.4766ZM93.9807 92.1946H93.9571C93.8414 92.1947 93.7269 92.1706 93.6209 92.124C93.515 92.0774 93.42 92.0092 93.3418 91.9238C93.18 91.7407 93.0907 91.5047 93.091 91.2603C93.0912 91.0159 93.181 90.7801 93.3432 90.5974L93.3418 90.5988C93.4248 90.5127 93.5242 90.4442 93.6342 90.3974C93.7442 90.3506 93.8626 90.3265 93.9821 90.3265C94.1017 90.3265 94.22 90.3506 94.33 90.3974C94.44 90.4442 94.5395 90.5127 94.6224 90.5988C94.7838 90.7837 94.8726 91.0209 94.8723 91.2664C94.872 91.5119 94.7827 91.7489 94.621 91.9335L94.6224 91.9321C94.5434 92.0162 94.4478 92.0829 94.3416 92.1281C94.2355 92.1733 94.1211 92.1959 94.0057 92.1946H93.9807ZM88.0571 92.1946H88.0266C87.9144 92.1938 87.8036 92.1704 87.7008 92.1258C87.5979 92.0811 87.5051 92.0162 87.4279 91.9349C87.2722 91.7449 87.1871 91.5067 87.1874 91.261C87.1877 91.0153 87.2732 90.7773 87.4293 90.5877L87.4279 90.5891C87.505 90.5075 87.5977 90.4423 87.7006 90.3974C87.8035 90.3525 87.9143 90.3289 88.0266 90.3279H88.0585H88.0821C88.3252 90.3279 88.5446 90.4321 88.696 90.5988C88.8516 90.7668 88.946 90.9918 88.946 91.2391V91.2668V91.2654L88.9474 91.3029C88.9468 91.5375 88.8615 91.7639 88.7071 91.9404L88.7085 91.9391C88.6302 92.0205 88.5361 92.0851 88.432 92.1291C88.3279 92.173 88.2159 92.1953 88.1029 92.1946L88.0557 92.1932H88.0585L88.0571 92.1946ZM70.0877 92.1946L70.0474 92.196C69.9333 92.1965 69.8203 92.1736 69.7154 92.1287C69.6105 92.0838 69.516 92.0178 69.4377 91.9349C69.2819 91.7449 69.1969 91.5067 69.1971 91.261C69.1974 91.0153 69.2829 90.7773 69.4391 90.5877L69.4377 90.5891C69.5212 90.5007 69.623 90.4316 69.736 90.3867C69.849 90.3419 69.9704 90.3223 70.0918 90.3293H70.1224C70.2355 90.3292 70.3473 90.3533 70.4504 90.4C70.5534 90.4467 70.6452 90.515 70.7196 90.6002L70.721 90.6016C70.8746 90.7901 70.9583 91.026 70.958 91.2692C70.9578 91.5124 70.8736 91.748 70.7196 91.9363L70.721 91.9349C70.6436 92.0168 70.5504 92.0822 70.4471 92.1271C70.3437 92.1719 70.2323 92.1954 70.1196 92.196H70.0891H70.0904L70.0877 92.1946ZM80.2224 91.0002H78.7043C78.7237 90.8124 78.8119 90.6384 78.9519 90.5118C79.092 90.3851 79.274 90.3149 79.4628 90.3145C79.6516 90.3142 79.8338 90.3838 79.9744 90.5099C80.1149 90.636 80.2037 90.8096 80.2238 90.9974L80.2224 91.0002Z" fill="#263dbf"/>
            </g>
            <defs>
            <clipPath id="clip0_76_414">
            <rect width="50" height="33.3333" fill="white" transform="translate(54.3335 8.3335)"/>
            </clipPath>
            <clipPath id="clip1_76_414">
            <rect width="50" height="33.3333" fill="white" transform="translate(54.3335 62.3335)"/>
            </clipPath>
            </defs>
            </svg>
        <p>Pagos 100% seguros</p>
      </div>
      <div class="feature">
        <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100" fill="none">
            <path d="M58.6493 3.63818L61.7864 5.89756C49.7167 16.7282 48.8241 16.0405 54.8519 31.923L82.2194 38.2608C79.2522 51.9456 81.5823 55.3399 84.8052 63.5202L70.289 63.5769C70.5983 74.0819 72.8991 83.4806 68.931 96.362L64.0812 94.6159L65.439 85.4983L51.6987 86.6878C41.6851 73.2802 27.9343 68.9821 15.1948 62.219C21.046 59.3362 26.4974 56.1083 28.3862 49.8034L24.7003 28.0763C32.7101 18.7915 39.3624 9.92744 58.6493 3.63818Z" fill="#263dbf"/>
            <path d="M88.7188 19.5H65.2812C65.2812 21.6484 65.8672 23.6406 66.8438 25.3594H87.1562C88.1719 23.6406 88.7188 21.6484 88.7188 19.5Z" fill="#2A5F9E"/>
            <path d="M77 7.78125C70.5547 7.78125 65.2812 13.0156 65.2812 19.5H88.7188C88.7188 13.0156 83.4844 7.78125 77 7.78125Z" fill="#FFE62E"/>
            <path d="M77 31.2188C81.3359 31.2188 85.125 28.875 87.1562 25.3594H66.8438C68.9141 28.875 72.6641 31.2188 77 31.2188Z" fill="#ED4C5C"/>
            </svg>
        <p>Envíos a toda Colombia</p>
      </div>
    </div>
    
    <div class="cta-container">
      <h2 class="cta-title">¿QUIERES BORDAR ALGO DIFERENTE?</h2>
      <p class="cta-description">¡Por supuesto! Tus ideas se hacen realidad con nuestra ayuda. Escríbenos.</p>
      <h3 class="cta-subtitle">¿TIENES ALGUNA PREGUNTA O INQUIETUD?</h3>
      <p class="cta-description">Estamos aquí para ayudarte. Escríbenos y resolveremos todas tus dudas.</p>
        <BotonAction/ textBoton="Contactanos">
    </div>
</section>
  
<style>
    h2, p, h3{
        margin: 0;
    }
  .quality-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: var(--deep-blue);
    margin: 0 auto;

  }

  .features-container {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 32px;
    margin: 60px 0;
    width: 75vw;
  }

  .feature {
    display: flex;
    gap: 20px;
    color: var(--deep-blue);
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;

    
  }

  .feature.visible {
    opacity: 1;
    transform: translateY(0);
  }

  .feature-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 1rem;
  }

  .cta-container {display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--lime-green);
    padding: 24px 12px ;
    border-radius: 40px;
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 0.5s ease, transform 0.5s ease;
    width: 90vw;
  }

  .cta-container.visible {
    opacity: 1;
    transform: scale(1);
  }

  .cta-title, .cta-subtitle {
    color: var(--deep-blue);
    margin-bottom: 1rem;
  }

  .cta-description {
    color: var(--dark-grey);
    margin-bottom: 2rem;
  }
  @media screen and (max-wigth: 768px) {
    
    
    
  }
  
</style>

<script >
    document.addEventListener('astro:page-load', () => {
  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
        if (entry.isIntersecting) {
  entry.target.classList.add('visible');
} else {
  entry.target.classList.remove('visible');
}
    });
  }, { threshold: 0.4 });

  document.querySelectorAll('.feature, .cta-container').forEach((element) => {
    observer.observe(element);
  });
})
</script>