---
// Importaciones necesarias de fuentes y componentes
import '@fontsource-variable/glory';
import '@fontsource/berkshire-swash';
import Header from '../components/Header.astro';
import Fondo from '../components/Fondo.astro';
import { ViewTransitions } from 'astro:transitions';
import Carrito from '../components/Carrito.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo/logo-marselino-black.svg" media="(prefers-color-scheme: light)"/>
		<link rel="icon" type="image/svg+xml" href="/logo/logo-marselino-white.svg" media="(prefers-color-scheme: dark)"/>
		<link rel="icon" type="image/svg+xml" href="/logo/logo-marselino-fondo.svg" />
		<ViewTransitions />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<Carrito></Carrito>
		<Fondo />
		<main>
		
		<slot />
		
		</main>
		<Footer>
	</body>
</html>

<style is:global>
	/* Variables de color con nombres y valores definidos */
	:root {
		--lilac: #C0A7D9;
		--deep-blue: #263DBF;
		--medium-blue: #3854A6;
		--lime-green: #CDD971;
		--rust-red: #BF472C;
		--white-smoke: #f2f2f2;
		--dark-gray: #0d0d0d;
	}

	/* Box sizing universal y ajustes de mínimos */
	* {
		box-sizing: border-box;
		min-width: 0;
	}
	html{
		font-family: 'Glory Variable', sans-serif;
	}

	
	/* Ajuste de altura mínima en el body */
	body {
		min-height: 100dvh; /* Altura mínima dinámica */
		margin: 0;
		
		overflow-x: hidden;
		font-family: 'Glory Variable', sans-serif;
	}

	

	/* Ajustes en el estilo de encabezados y párrafos */
	h1, h2, h3, h4, h5 {
		text-wrap: balance;
	}

	p {
		text-wrap: pretty;
	}

	/* h1: entre 2.5rem y 3.5rem */
h1 {
  font-size: clamp(2rem, 2vw + 1rem, 3.5rem);
}

/* h2: entre 2rem y 3rem */
h2 {
  font-size: clamp(1.5rem, 1.5vw + 0.5rem, 3rem);
  padding: 0 12px;
}

/* h3: entre 1.75rem y 2.5rem */
h3 {
  font-size: clamp(1.3rem, 1.25vw + 0.25rem, 2.5rem);
}

/* h4: entre 1.5rem y 2rem */
h4 {
  font-size: clamp(1.2rem, 1.1vw + 0.25rem, 2rem);
}

/* p: entre 1rem y 1.25rem */
p {
  font-size: clamp(1.1rem, 0.8vw + 0.25rem, 1.25rem);
}

Footer{
	display: block;
	bottom: 0;
	
}
</style>
<script>



</script>

