---
// Importaciones necesarias de fuentes y componentes
import '@fontsource-variable/glory';
import '@fontsource/berkshire-swash';
import Header from '../components/Header.astro';
import Banner from '../components/Banner.astro';
import Fondo from '../components/Fondo.astro';

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo/logo-marselino-black.svg" media="(prefers-color-scheme: light)"/>
		<link rel="icon" type="image/svg+xml" href="/logo/logo-marselino-white.svg" media="(prefers-color-scheme: dark)"/>
		<link rel="icon" type="image/svg+xml" href="/logo/logo-marselino-fondo.svg" />
		<title>{title}</title>
	</head>
	<body>
		
		<Header />
		<main>
		<Fondo />
		<slot />
		</main>
	</body>
</html>

<style is:global>
	/* Variables de color con nombres y valores definidos */
	:root {
		--lilac: #C0A7D9;
		--deep-blue: #263DBF;
		--medium-blue: #3854A6;
		--lime-green: #CDD971;
		--rust-red: #BF472C;
		--white-smoke: #f2f2f2;
		--dark-gray: #0d0d0d;
	}

	/* Box sizing universal y ajustes de mínimos */
	* {
		box-sizing: border-box;
		min-width: 0;
	}
	html{
		font-family: 'Glory Variable', sans-serif;
	}

	h1{
		font-size: 46px;
	}

	h2{
		font-size:38px;
		font-weight: 300;
	}
	h3{
		font-size: 32px;
		font-weight: 500;	
		}

	p{
		font-size: 24px;	
		}
	/* Ajuste de altura mínima en el body */
	body {
		min-height: 100dvh; /* Altura mínima dinámica */
		margin: 0;
		background-color: var(--white-smoke);
		overflow-x: hidden;
		font-family: 'Glory Variable', sans-serif;
	}

	

	/* Ajustes en el estilo de encabezados y párrafos */
	h1, h2, h3, h4, h5 {
		text-wrap: balance;
	}

	p {
		text-wrap: pretty;
	}

	@media (max-width: 1080px) {

h1{
	font-size: 36px;
}

h2{
font-size: 30px;
}

h3{
font-size: 28px;	

}

p{
font-size: 24px;	
}

}
	

	
</style>

